<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><!--[if IE 8 ]>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" class="old-ie ie8">
<![endif]--><!--[if IE 9 ]>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" class="old-ie ie9">
<![endif]--><!--[if (gt IE 9)|!(IE)]>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>陕西千百炼装饰 - 西安装修公司|西安高品质整体家装公司</title>
<meta name="keywords" content="西安装修公司,西安整体家装,西安装饰公司,西安家装公司,西安家装,西安装修,西安装饰">
<meta name="description" content="陕西千百炼装饰专业从事高品质整体家装,集家装设计、施工、基材、主材、软饰设计为一体,拥有西安唯一整体豪装工厂店,是业内领先的一站式家装服务平台!热线:400-029-1986">
<!--此页面所需js、css-->

<!--此页面所需js、css-->
<link rel="icon" href="__XIAN__/img/favicon.ico">
<link rel="stylesheet" type="text/css" href="__XIAN__/css/all-style.css"/>
<link rel="stylesheet" href="__XIAN__/css/all-index.css"/>
<link rel="stylesheet" href="__XIAN__/css/pc-style.css"/>
<link rel="stylesheet" href="__XIAN__/css/animate.min.css"/>
<link rel="stylesheet" href="__XIAN__/css/all-swiper.css"/>
<script type="text/javascript" src="__XIAN__/js/jquery.js"></script>
<script type="text/javascript" src="__XIAN__/js/all-swiper.js"></script>
<script type="text/javascript" src="__XIAN__/layer/layer.js"></script>
<script type="text/javascript" src="__XIAN__/js/all-b.js"></script>
<script type="text/javascript" src="__XIAN__/js/wow.min.js"></script>
</head>
<script type="text/javascript">
    // borwserRedirect
    (function browserRedirect(){
      var sUserAgent = navigator.userAgent.toLowerCase();
      var bIsIpad = sUserAgent.match(/ipad/i) == 'ipad';
      var bIsIphone = sUserAgent.match(/iphone os/i) == 'iphone os';
      var bIsMidp = sUserAgent.match(/midp/i) == 'midp';
      var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == 'rv:1.2.3.4';
      var bIsUc = sUserAgent.match(/ucweb/i) == 'web';
      var bIsCE = sUserAgent.match(/windows ce/i) == 'windows ce';
      var bIsWM = sUserAgent.match(/windows mobile/i) == 'windows mobile';
      var bIsAndroid = sUserAgent.match(/android/i) == 'android';

      if(bIsIpad || bIsIphone || bIsMidp || bIsUc7 || bIsUc || bIsCE || bIsWM || bIsAndroid ){
        window.location.href = '/mobile/';
      }
    })();
 </script>
<body class="indexBody">

<div class="Wrap Header">
	<div class="Column" style="width:100%">
		<div style="width:1190px;margin:0 auto; ">
			<div style="width:1190px;position: relative; ">
				<style>
				.select-hover:hover{
					border:1px solid #e6e3e3 !important
				}
				</style>
				<div class="select-hover" style="position: absolute;background: #fff;top:35px;left:120px;border:1px solid #fff;">
					<span style="position:relative; display: block;width:45px;text-align:left;padding-left:15px;color:#333;cursor: pointer;">西安<i style="position: absolute;right:0;top:2px"><img src="__XIAN__/img/select_arrow.png" style="width:20px;"></i></span>
					<ul style="display: none;overflow: hidden; width:60px;text-align:center">
						<li><a style="color:#666" href="http://baoji.qblzs.com.cn">宝鸡</a></li>
                            <li><a style="color:#666" href="http://guiyang.qblzs.com.cn">贵阳</a></li>
                            <li><a style="color:#666" href="http://wuhan.qblzs.com.cn">武汉</a></li>
                            
					</ul>
				</div>
				<script>
				$('.select-hover').hover(function(){
					$(this).find('ul').stop().slideDown()
				},function(){
					$(this).find('ul').stop().slideUp()
				})
			</script>
			</div>
			<div class="tel fr">
				<i>
				<img src="__XIAN__/img/c1.png"/>
				</i>
				<h5>装修咨询电话</h5>
				<h6>400-029-1986</h6>
			</div>
			<a href="/" class="logo fl"><img src="__XIAN__/img/46cfc98acb82a9af.jpg" alt="陕西千百炼装饰"/></a>
			<div class="Nav" id="HeaderNav">
				<ul class="inline">
					<li class="cur">
					<a href="<?=url('index/index')?>" class="par" title="网站首页">
					<em>网站首页</em>
					</a>
					</li>
					<li class="parLi">
					<a href="<?=url('index/product')?>" class="par" title="定制整装">
					<em>定制整装 </em>
					</a>
					</li>
					<li class="parLi">
					<a href="<?=url('index/design')?>" class="par" title="免费设计">
					<em>免费设计</em>
					</a>
					</li>
					<li class="parLi">
					<a href="<?=url('index/quote')?>" class="par" title="智能报价">
					<em>智能报价</em>
					</a>
					</li>
					<li class="parLi">
					<a href="<?=url('index/process')?>" class="par" title="德系工艺">
					<em>德系工艺</em>
					</a>
					</li>
					<li class="parLi">
					<a href="<?=url('index/example')?>" class="par" title="实景样板间">
					<em>实景样板间</em>
					</a>
					</li>
					<li class="parLi">
					<a href="<?=url('index/about')?>" class="par" title="关于我们">
					<em>关于我们</em>
					</a>
					<div class="sons">
						<div class="Column">
							<ol class="inline" style="margin-right:-460px">
								<li class="current">
								<a href="<?=url('index/about')?>" class="son" title="公司简介">
								<div class="img" 1 9>
									<div class="imgIco" style="background-position: -0px -320px;">
									</div>
								</div>
								<p>
								公司简介
								</p>
								</a>
								</li>
								<li>
								<a href="<?=url('index/contact')?>" class="son" title="联系我们">
								<div class="img">
									<div class="imgIco" style="background-position: -120px -320px;">
									</div>
								</div>
								<p>
								联系我们
								</p>
								</a>
								</li>
							</ol>
						</div>
					</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="Wrap indexSlide">
	<div class="Column slide" id="J_indexSlide">
		<div class="bd swiper-container">
			<ul class="swiper-wrapper">
				<li class="swiper-slide">
					<a href="<?=url('index/fresh')?>" title="会呼吸的家" target="_blank" class="">
						<img src="__XIAN__/img/ban6666.jpg" alt="会呼吸的家"/>
					</a>
				</li>
				<li class="swiper-slide">
					<a href="/product/" title="" target="_blank" class="">
						<img src="__XIAN__/images/bc.png" alt=""/>
					</a>
				</li>
			</ul>
		</div>
		<a href="javascript:void(0)" class="btn prev">&lt;</a>
		<a href="javascript:void(0)" class="btn next">&gt;</a>
		<div class="hd">
		</div>
	</div>
	<div class="posi-b-index">
		<form name='feedback' method='post' enctype='multipart/form-data' action="<?=url('index/index')?>">
		     <input type=hidden name=ecmsfrom value="/"> 
		     <input name='enews' type='hidden' value='AddFeedback'>
		     <input name='title' type='hidden' value='首页banner大屏幕'> 
		     <input type=hidden name=bid value=2> 
		     <input type=hidden name=laiyuan id=laiyuan>                   
		     <input type=hidden name=chuangyi id=chuangyi>
			<input type="number" name="mycall" class="name-dh" placeholder="请输入您的手机号码"/>
			<button type="submit" class="index-lyy">立即预约1111</button>
		</form>
	</div>
</div>
<div class="Wrap indexModule">
	<ul class="Column">
		<li>
		<a href="javascript:void(0)" title="水电工艺超长质保服务" target="_blank" class="imga">
		<i class="bg tran"></i>
		<div class="img">
			<img src="__XIAN__/img/6b9041b73dfb6356.png" alt="水电工艺超长质保服务" class="tran"/>
		</div>
		<h3 class="ellipsis title">水电工艺超长质保服务</h3>
		<p class="ellipsis note">
			Team service model
		</p>
		</a>
		</li>
		<li>
		<a href="javascript:void(0)" title="全房基础工程终身维护" target="_blank" class="imga">
		<i class="bg tran"></i>
		<div class="img">
			<img src="__XIAN__/img/48656377883ce769.png" alt="全房基础工程终身维护" class="tran"/>
		</div>
		<h3 class="ellipsis title">全房基础工程终身维护</h3>
		<p class="ellipsis note">
			Self-contained service
		</p>
		</a>
		</li>
		<li>
		<a href="javascript:void(0)" title="12000㎡航母级店面" target="_blank" class="imga">
		<i class="bg tran"></i>
		<div class="img">
			<img src="__XIAN__/img/a181ba2768997748.png" alt="8000㎡航母级店面" class="tran"/>
		</div>
		<h3 class="ellipsis title">12000㎡航母级店面</h3>
		<p class="ellipsis note">
			Carrier class storefront
		</p>
		</a>
		</li>
		<li>
		<a href="javascript:void(0)" title="快速高效服务0担忧" target="_blank" class="imga">
		<i class="bg tran"></i>
		<div class="img">
			<img src="__XIAN__/img/25324d95701ea2ca.png" alt="快速高效服务0担忧" class="tran"/>
		</div>
		<h3 class="ellipsis title">快速高效服务0担忧</h3>
		<p class="ellipsis note">
			supervision guarantee
		</p>
		</a>
		</li>
		<li id="end">
		<a href="javascript:void(0)" title="一线大牌工厂直销" target="_blank" class="imga">
		<i class="bg tran"></i>
		<div class="img">
			<img src="__XIAN__/img/9e83d2b53b483756.png" alt="一线大牌工厂直销" class="tran"/>
		</div>
		<h3 class="ellipsis title">一线大牌工厂直销</h3>
		<p class="ellipsis note">
			Material assurance
		</p>
		</a>
		</li>
	</ul>
</div>
<div class="Wrap ">
	<div class="w1200 zx-form">
		<div class="con">
			<div class="fl zx-q">
				<p style="position: relative;">
					<a href="javascript:;">
					<img src="__XIAN__/img/i2.png"/>
					</a>
					<em style="position: absolute;top:50%;right:-7px;margin-top:-5px">
					<img src="__XIAN__/img/i3.png"/>
					</em>
				</p>
				<p>
					<i class="fl mf-lfcs clic-tc" id="mflf">
					<img src="__XIAN__/img/i11.png">
					<font>
							免费量房
					</font>
					</i>
					<i class="fr mf-lfcs2 clic-tc" id="mfsj">
					<img src="__XIAN__/img/i22.png">
					<font>
							免费设计
					</font>
					</i>
				</p>
			</div>
			<div class="fl form-index">
								<form name='feedback' method='post' enctype='multipart/form-data' action='/e/enews/index.php'>
            <input type=hidden name=ecmsfrom value="/"> 

            <input name='enews' type='hidden' value='AddFeedback'>
            <input name='title' type='hidden' value='首页中部'> 
            <input type=hidden name=bid value=2> 
                    <input type=hidden name=laiyuan id=laiyuan>                   
                    <input type=hidden name=chuangyi id=chuangyi>

					<label>
						<span>小区面积</span>
						<input type="number" placeholder="请输入您的房屋面积" name="mianji" class="name-mj" style="width: 490px;"/>
						<em>
							㎡
						</em>
					</label>
					<label>
						<span>您的户型</span>
						<select style="width: 132px;"  name="woshi">
							<option value="1">一室</option>
							<option  selected = "selected" value="2">二室</option>
							<option value="3">三室</option>
							<option value="4">四室</option>
						</select>
						<select style="width: 132px;" name="keting">

							<option value="1">一厅</option>
							<option  selected = "selected" value="2">二厅</option>
							<option value="3">三厅</option>
						</select>
						<select style="width: 132px;" name="weishengjian">

							<option  selected = "selected" value="1">一卫</option>
							<option value="2">二卫</option>
							<option value="3">三卫</option>
						</select>
					</label>
					<label>
						<span>联系方式</span>
						<input type="text" placeholder="请输入您的称呼" name="name" class="name-ch" style="width: 235px;"/>
						<input type="text" placeholder="请输入您的电话号码" name="mycall" class="name-dh" style="width: 235px;"/>
					</label>
					<button class="f-btn">立即预约</button>
					<b>*在线预约成功后，将有设计师一对一为您服务</b>
				</form>

			</div>
			<div class="fr f-img">
				<img src="__XIAN__/img/i4.png"/>
			</div>
		</div>
	</div>
</div>
<div class="Wrap index-pzzz">
	<h2>更高品质全屋整装</h2>
	<h3>一站式装修服务平台，让你省时省力省心省钱</h3>
	<div class="con">
		<div class="f-more w1200">
			<a target="_blank" href="https://yun.kujiale.com/design/3FO4LTGOER4V/show?fromdesignerapp=true&sharefromapp=1&sharefrom=designer&appver=3.5">VR体验</a>
			<a target="_blank" href="https://tb.53kf.com/code/client/10151974/1">开启整装之旅</a>
		</div>
	</div>
</div>
<!--全景漫游720-->
<div class="Wrap index-qpmy">
	<div class="w1200">
		<h2>全屋漫游720案例，更真实的体验</h2>
		<h3>更早看到您家的装修效果，千百炼另有12000平米真实样板间展厅</h3>
		<a class="posi-more clic-tc" id="cgybj" href="javascript:;">
		参观样板间>
		</a>
		<ul>
			<li>
			<a href="">
			<span><img src="__XIAN__/img/i111.png">
			<p>
				<font>华远辰悦</font>
				<font>二居 | 90㎡ | 简欧风格</font>
				<font>设计师：杨通勤</font>
				<font>项目经理：邓发林</font>
				<font>项目监理：席得旺</font>
				<font>项目小区：华远辰悦</font>
				<em>
				<img src="__XIAN__/img/lo1.jpg"/>
				</em>
			</p>
			<i><img src="__XIAN__/img/i7.png"/></i>
			</span>
			</a>
			</li>
			<li>
			<a href="">
			<span><img src="__XIAN__/img/i222.png">
			<p>
				<font>枫林·九溪</font>
				<font>三居   | 105㎡ | 现代简约</font>
				<font>设计师：吴娜</font>
				<font>项目经理：孟凡兴</font>
				<font>项目监理：李钊</font>
				<font>项目小区：枫林·九溪</font>
				<em>
				<img src="__XIAN__/img/lo2.jpg"/>
				</em>
			</p>
			<i><img src="__XIAN__/img/i7.png"/></i>
			</span>
			</a>
			</li>
			<li>
			<a href="">
			<span>
			<img src="__XIAN__/img/i333.png">
			<p>
				<font>保利心语花园</font>
				<font>三居  | 110㎡ | 北欧风格</font>
				<font>设计师：吴经涛</font>
				<font>项目经理：刘祖奇</font>
				<font>项目监理：王振</font>
				<font>项目小区：保利心语花园</font>
				<em style="">
				<img src="__XIAN__/img/lo3.jpg"/>
				</em>
			</p>
			<i><img src="__XIAN__/img/i7.png"/></i>
			</span>
			</a>
			</li>
			<li>
			<a href="">
			<span><img src="__XIAN__/img/i444.png">
			<p>
				<font>振业泊岸</font>
				<font>三居 | 140㎡ | 田园风格</font>
				<font>设计师：李维国</font>
				<font>项目经理：刘华</font>
				<font>项目监理：王瀑森</font>
				<font>项目小区：振业泊岸</font>
				<em>
				<img src="__XIAN__/img/lo4.jpg"/>
				</em>
			</p>
			<i><img src="__XIAN__/img/i7.png"/></i>
			</span>
			</a>
			</li>
			<li>
			<a href="">
			<span><img src="__XIAN__/img/i555.png">
			<p>
				<font>华远海蓝城</font>
				<font>二居 | 97㎡ | 简欧风格</font>
				<font>设计师：王炅</font>
				<font>项目经理：孟庆利</font>
				<font>项目监理：马峰剑</font>
				<font>项目小区：华远海蓝城</font>
				<em>
				<img src="__XIAN__/img/lo5.jpg"/>
				</em>
			</p>
			<i><img src="__XIAN__/img/i7.png"/></i>
			</span>
			</a>
			</li>
			<li>
			<a href="">
			<span>
			<img src="__XIAN__/img/i666.png">
			<p>
				<font>国金华府</font>
				<font>二居 | 别墅 | 简欧风格</font>
				<font>设计师：宫玉</font>
				<font>项目经理：黄新意</font>
				<font>项目监理：李钊</font>
				<font>项目小区：国金华府</font>
				<em>
				<img src="__XIAN__/img/lo6.jpg"/>
				</em>
			</p>
			<i><img src="__XIAN__/img/i7.png"/></i>
			</span>
			</a>
			</li>
		</ul>
	</div>
</div>
<!--千锤百炼 钻石品质-->
<div class="Wrap index-qqbl">
	<h2>千锤百炼·钻石品质</h2>
	<h3>五星整装服务，为每一位客户打造梦想家</h3>
	<div class="con wow bounceInLeft" data-wow-duration="1s">
		<div class="w1200">
			<ul style="overflow: hidden;">
				<li class="wow bounceInDown" data-wow-delay="0.15s" data-wow-duration="2s">
				<div class="f-nb">
					<h1>01</h1>
					<h4>透明靠谱</h4>
					<i><img src="__XIAN__/img/x1.png"/></i>
					<font>
							从设计到预算、从
							选材到施工，全程
							透明化、标准化，
							没有隐藏、没有猫
							腻、没有陷阱。
					</font>
				</div>
				</li>
				<li class="wow bounceInDown " data-wow-delay="0.3s" data-wow-duration="2s">
				<div class="f-nb">
					<h1>02</h1>
					<h4>高效品质</h4>
					<i><img src="__XIAN__/img/x2.png"/></i>
					<font>
							从基材到主材、再
							到家具家电，全部
							工厂销售，真正做
							到让老百姓，只花
							普通主材的钱，就
							能装出品质的家。
					</font>
				</div>
				</li>
				<li class="wow bounceInDown" data-wow-delay="0.45s" data-wow-duration="2s">
				<div class="f-nb">
					<h1>03</h1>
					<h4>服务专业</h4>
					<i><img src="__XIAN__/img/x3.png"/></i>
					<font>
							一个至少40人的团
							队服务一个家，24
							小时监管，手机全
							程定位管理，24小
							时解决问题。
					</font>
				</div>
				</li>
				<li class="wow bounceInDown" data-wow-delay="0.6s" data-wow-duration="2s">
				<div class="f-nb">
					<h1>04</h1>
					<h4>严格质检</h4>
					<i><img src="__XIAN__/img/x4.png"/></i>
					<font>
							材料假一赔十，施
							工过程中，施工不
							合格，千百炼承若
							一直做到您满意为
							止。
					</font>
				</div>
				</li>
				<li class="wow bounceInDown" data-wow-delay="0.75s" data-wow-duration="2s">
				<div class="f-nb">
					<h1>05</h1>
					<h4>无忧质保</h4>
					<i><img src="__XIAN__/img/x5.png"/></i>
					<font>
							水电保50年，电路
							保50年，基础工程
							终身维护，所有材
							料均采用环保板材
							再也不用担心装修
							无保障。
					</font>
				</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--全球采集，精选品牌-->
<div class="Wrap index-qqcj">
	<h2>全球集采·精选一线品牌</h2>
	<h3>联合158家一线品牌，保证真材实料假一罚十</h3>
	<div class="con">
		<div class="w1200">
			<div class="swiper-container" id="index-logo">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="__XIAN__/img/logo1.png"/>
					</div>
					<div class="swiper-slide">
						<img src="__XIAN__/img/logo2.png"/>
					</div>
					<div class="swiper-slide">
						<img src="__XIAN__/img/logo3.png"/>
					</div>
					<div class="swiper-slide">
						<img src="__XIAN__/img/logo4.png"/>
					</div>
					<div class="swiper-slide">
						<img src="__XIAN__/img/logo5.png"/>
					</div>
					<div class="swiper-slide">
						<img src="__XIAN__/img/logo6.png"/>
					</div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination">
				</div>
			</div>
		</div>
	</div>
</div>
<!--千百炼的客户，他们这么说-->
<div class="Wrap index-tmzms ">
	<div class="w1200">
		<h2>千百炼的客户，他们这么说</h2>
		<h3>好品牌是靠好口碑建立，好口碑是靠好服务赢得</h3>
		<div class="con" style="position:relative">
			<div class="swiper-container" id="index-kb">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<ul>
							<li>
							<font>
			      				对比了很多家装饰公司，最后还是选择了千百炼。装修的结果家人都很满意，装修过程中我们提出的问题都得到了很好的解决，服务和态度都很好，让我们省钱也省心
							</font>
							<p>
								<i class="fl">
								<img src="__XIAN__/img/h1.png"/>
								</i>
								<span class="fl">
								<em>公务员</em>
								<em>35岁 </em>
								</span>
							</p>
							</li>
							<li>
							<font>
			      				朋友介绍来的千百炼，算是比较放心。设计师给我们家做的设计图与我们的想法很符合，现在基本上已经装修完了。晾一段时间就能入住了，很期待新家，也很感谢千百炼为我们服务的工作人员。朋友介绍来的千百炼，算是比较放心。设计师给我们家做的设计图与我们的想法很符合，现在基本上已经装修完了。晾一段时间就能入住了，很期待新家，也很感谢千百炼为我们服务的工作人员。
							</font>
							<p>
								<i class="fl">
								<img src="__XIAN__/img/h2.png"/>
								</i>
								<span class="fl">
								<em>私企老板</em>
								<em>42岁 </em>
								</span>
							</p>
							</li>
							<li>
							<font>
			      				我是坐地铁的时候偶然看见千百炼的广告，想着不远就去店里看看。接待的人讲了很多装修的内容，也看了看他们的样板间，觉得挺不错的，就带着家人也来看看。整体装修完的价格比我们自己算下来的要便宜很多，总体上来说很满意。
							</font>
							<p>
								<i class="fl">
								<img src="__XIAN__/img/h3.png"/>
								</i>
								<span class="fl">
								<em>程序员</em>
								<em>37岁 </em>
								</span>
							</p>
							</li>
						</ul>
					</div>
					<div class="swiper-slide">
						<ul>
							<li>
							<font>
			      				比自己装修的好，自己没有装修经验,可能会把房子糟蹋了,而选装修工司，他们是非常专业,肯定会装修得很好,给你一个美丽的家,当然这是我个人的想法，可以参考一下，顺着自己的想法去想最好。认真负责装修的符合我的心意，完全可以推荐。
							</font>
							<p>
								<i class="fl">
								<img src="__XIAN__/img/h4.png"/>
								</i>
								<span class="fl">
								<em>教师</em>
								<em>32岁 </em>
								</span>
							</p>
							</li>
							<li>
							<font>
			      				装修是一件大事，经过一个月的调查研究之后，在众多家装公司里选择了千百炼。首先是千百炼派滴滴专车接了我和家人去店面进行了实地考察，接待的人员很专业，也参观了所有的样板间，这让我们对千百炼的第一印象就很好。当然最重要的是产品到底好不好，价格是不是实惠。
							</font>
							<p>
								<i class="fl">
								<img src="__XIAN__/img/h5.png"/>
								</i>
								<span class="fl">
								<em>医生</em>
								<em>45岁 </em>
								</span>
							</p>
							</li>
							<li>
							<font>
			      				千百炼这个公司挺好的，规模很大，有一万多平米的材料展厅和很多样板间，用的材料，包括电线、水管、乳胶漆都高于同行标准，工艺先进，口碑很好，在我们小区做过很多，后期没有增项，让人放心。水电质保50年，基础装修终身维护，没有什么好顾虑的，选择千百炼让人放心。
							</font>
							<p>
								<i class="fl">
								<img src="__XIAN__/img/h6.png"/>
								</i>
								<span class="fl">
								<em>律师</em>
								<em>40岁</em>
								</span>
							</p>
							</li>
						</ul>
					</div>
					<div class="swiper-slide">
						<ul>
							<li>
							<font>
			      				我们对比了好多家装修公司，最终选择千百炼就觉得千百炼的性价比高，施工质量杠杠的，公司工作人员都特别贴心，主要是装出来效果有保障。这才是我最看中的。而且家具款式新，质量好，关键是所有材料和家具都是工厂价给我，省了不少钱。
							</font>
							<p>
								<i class="fl">
								<img src="__XIAN__/img/h7.png"/>
								</i>
								<span class="fl">
								<em>家庭主妇</em>
								<em>48岁</em>
								</span>
							</p>
							</li>
							<li>
							<font>
			      				正在装的过程中暂时还没出现问题, 不过服务确实很好因为上班没时间去看, 工长天天在群里发照片 ,也有千百炼总店的人打回访问是否满意 ;确实很负责, 而且看了下基础工艺确实做的不错, 希望合作愉快。
							</font>
							<p>
								<i class="fl">
								<img src="__XIAN__/img/h8.png"/>
								</i>
								<span class="fl">
								<em>销售员</em>
								<em>29岁</em>
								</span>
							</p>
							</li>
							<li>
							<font>
			      				最开始电台听说的，去看了下和别的公司真的不一样，规模真的大。我是滨水花城的房子，装修已经完工快4个月了，设计师认真负责还有监理陪同施工确实不一样。预祝千百炼越做越强大！
							</font>
							<p>
								<i class="fl">
								<img src="__XIAN__/img/h9.png"/>
								</i>
								<span class="fl">
								<em>自媒体人</em>
								<em>41岁</em>
								</span>
							</p>
							</li>
						</ul>
					</div>
				</div>
				<!-- Add Pagination -->
			</div>
			<div class="shuadong" style="left:50%;margin-left:-62px;bottom:30px !important">
			</div>
		</div>
	</div>
</div>


<div class="Wrap FooterWrap">
	<div class="Column Footer f55">
		<div class="lBase fl">
			<a href="/" class="logo fl"><img src="__XIAN__/img/78d04a034e3324c8.png" alt=" "/></a>
			<div class="banner fl">
				<img src="__XIAN__/img/5e6587fea19c9274.png" alt=" "/>
			</div>
			<div class="base ove">
				<p>
					陕西千百炼装饰工程有限公司 COPYRIGHT (C) 2018 ALL RIGHTS RESERVED&nbsp;
					<a style="color:#000;" href="http://www.miitbeian.gov.cn/" target="_blank">陕ICP备17003733号</a>&nbsp;
				</p>
				<p>
					公司地址：陕西省西安市未央区辛家庙地铁C口千百炼&nbsp;&nbsp;&nbsp;&nbsp;
					<a href="http://xian.qblzs.com.cn/mobile/" target="_blank">手机版</a>&nbsp;|&nbsp;<a href="<?=url('index/contact')?>">联系我们</a>
				</p>
			</div>
		</div>
		<div class="rContact fr">
			<div class="qcode fr">
				<img src="__XIAN__/img/382464d5af5e9d0f.png" alt="千百炼装饰"/>
			</div>
			<div class="tel tr">
				<img src="__XIAN__/img/fc21f14357f2e303.png"/>
			</div>
			 
	</div>
</div>
</div>
<div class="fixedWx">
<div class="img">
<img src="__XIAN__/upfiles/2017/12/11/382464d5af5e9d0f.png" alt="官方微信二微码"/>
</div>
</div>
<!-- 免费量房 -->
<div class="layer-tc" id="mflf-tc" style="display: none;">
<form name='feedback' method='post' enctype='multipart/form-data' action='/e/enews/index.php'>
     <input type=hidden name=ecmsfrom value="/"> 
     <input name='enews' type='hidden' value='AddFeedback'>
     <input name='title' type='hidden' value='首页免费量房'> 
     <input type=hidden name=bid value=2> 
     <input type=hidden name=laiyuan id=laiyuan>                   
     <input type=hidden name=chuangyi id=chuangyi>
	<label><input type="text" placeholder="请输入您的称呼" class="name-ch" name="name"/></label>
	<label><input type="number" placeholder="请输入您的手机" class="name-dh" name="mycall"/></label>
	<button class="lay-btn" type="submit">点击预约</button>
</form>
</div>
<!-- 免费设计 -->
<div class="layer-tc" id="mfsj-tc" style="display: none;">
<form name='feedback' method='post' enctype='multipart/form-data' action='/e/enews/index.php'>
     <input type=hidden name=ecmsfrom value="/"> 
     <input name='enews' type='hidden' value='AddFeedback'>
     <input name='title' type='hidden' value='首页免费设计'> 
     <input type=hidden name=bid value=2> 
     <input type=hidden name=laiyuan id=laiyuan>                   
     <input type=hidden name=chuangyi id=chuangyi>
	<label><input type="text" placeholder="请输入您的称呼" class="name-ch" name="name"/></label>
	<label><input type="number" placeholder="请输入您的手机" class="name-dh" name="mycall"/></label>
	<button class="lay-btn" type="submit">点击预约</button>
</form>
</div>
<!-- 参观样板间 -->
<div class="layer-tc" id="cgybj-tc" style="display: none;">
<form name='feedback' method='post' enctype='multipart/form-data' action='/e/enews/index.php'>
     <input type=hidden name=ecmsfrom value="/"> 
     <input name='enews' type='hidden' value='AddFeedback'>
     <input name='title' type='hidden' value='首页参观样板间'> 
     <input type=hidden name=bid value=2> 
     <input type=hidden name=laiyuan id=laiyuan>                   
     <input type=hidden name=chuangyi id=chuangyi>
	<label><input type="text" placeholder="请输入您的称呼" class="name-ch" name="name"/></label>
	<label><input type="number" placeholder="请输入您的手机" class="name-dh" name="mycall"/></label>
	<button class="lay-btn" type="submit">点击预约</button>
</form>
</div>
<div class="fixedWx">
<div class="img">
	<img src="__XIAN__/img/382464d5af5e9d0f.png" alt="官方微信二微码"/>
</div>
</div>

<!-- 底部浮动表单 -->
<div class="float-box">
        <div class="form-fixed">
            <ul>
                <li class="f-lt"><img src="__XIAN__/img/hand.png" alt=""></li>
                <li class="f-title">
                    <h3>现在预约</h3>
                    <p>免费获取全房装修设计效果图</p>
                </li>
                <li class="f-form">
                    <form class="form" name='feedback' method='post' enctype='multipart/form-data' action='/e/enews/index.php'>
                        <input type=hidden name=ecmsfrom value="/"> 
                        <input name='enews' type='hidden' value='AddFeedback'>
                        <input name='title' type='hidden' value='底部固定预约'> 
                        <input type=hidden name=bid value=2> 
                        <input type=hidden name=laiyuan id=laiyuan>                   
                        <input type=hidden name=chuangyi id=chuangyi>
                        <input type="text" name="name" class="nickname" id="name" placeholder="请输入您的称呼"/>
                        <input type="number" name="mycall" class="phone" id="mycall" placeholder="请输入您的手机号码"/>
                        <input type="submit" class="subtn" value="立即预约"/>
                    </form>   
                </li>
                <li class="colsebtn"><img src="__XIAN__/img/colse01.png" alt=""></li>
            </ul>
        </div>
		<style>
		
		:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #808080;
    opacity: 1;
  }
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #808080;
    opacity: 1;
  }
  input:-ms-input-placeholder {
    color: #808080;
    opacity: 1;
  }
  input::-webkit-input-placeholder {
    color: #808080;
    opacity: 1;
  }
  input,
  select,
  button {
    outline: none;
    background: none;
  }
  a {
    text-decoration: none;
  }
  em,
  i {
    font-style: normal;
  }
  ul li,
  ul ol {
    list-style: none;
  }
  input,
  select,
  button {
    -webkit-appearance: none;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.float-box {
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 66;
	
  }
  .float-box .form-fixed {
    width: 1200px;
    height: 100;
    margin: 0 auto;
    padding: 0 30px;
  }
  .float-box .f-lt {
    width: 100px;
    height: 36px;
    float: left;
    margin-top: 24px;
  }
  .float-box .f-lt img {
    animation: movebl3 1s linear infinite;
  }
  .float-box .f-title {
    width: 260px;
    float: left;
    color: #fff;
  }
  .float-box .f-title h3 {
    font-size: 26px;
    font-weight: normal;
    line-height: 40px;
    margin-top: 15px;
  }
  .float-box .f-title p {
    font-size: 14px;
  }
  .float-box .f-form {
    width: 700px;
    float: left;
    margin-left: 30px;
    margin-top: 24px;
  }
  .float-box .colsebtn {
    width: 19px;
    height: 18px;
    float: right;
    cursor: pointer;
    margin-top: 24px;
  }
  .float-box .nickname {
    width: 182px;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
  }
  .float-box .phone {
    width: 292px;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    padding-left: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
  }
  .float-box .subtn {
    width: 162px;
    height: 50px;
    color: #fff;
    background: #c70000;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  .float-box .subtn:hover {
    background: #b70000;
  }
  @keyframes movebl3 {
    0% {
      transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      /* Internet Explorer */
      -moz-transform: translate(0, 0);
      /* Firefox */
      -webkit-transform: translate(0, 0);
      /* Safari 和 Chrome */
      -o-transform: translate(0, 0);
      /* Opera */
    }
    50% {
      transform: translate(10px, 0);
      -ms-transform: translate(10px, 0);
      /* Internet Explorer */
      -moz-transform: translate(10px, 0);
      /* Firefox */
      -webkit-transform: translate(10px, 0);
      /* Safari 和 Chrome */
      -o-transform: translate(10px, 0);
      /* Opera */
    }
    0% {
      transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      /* Internet Explorer */
      -moz-transform: translate(0, 0);
      /* Firefox */
      -webkit-transform: translate(0, 0);
      /* Safari 和 Chrome */
      -o-transform: translate(0, 0);
      /* Opera */
    }
  }
  
		
		</style>


		<script type="text/javascript">
		$('.colsebtn').click(function() {
			$(this).parents('.float-box').animate(
				{
				left: '-100%'
				},
				1000
			);
		});
		
		$('.subtn').click(function(){
	var dh = $(this).parent().find(".phone").val();
	var ch = $(this).parent().find(".nickname").val();
		if (ch =="") {
			alert("请输入您的称呼!");
			return false;
		}
		if (dh =="") {
			alert("请输入您的电话!");
			return false;
		}
		if(dh.length !=11 || dh.substring(0,1)!=1  ){
			alert("输入的手机号码格式错误！");
			$(".name-dh").focus();
			return false;
		}
	})
		
		</script>
    </div>     

<script>
	$(function() {
		if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
			new WOW().init();
		};
		$('.zx-q p:first-child').click(function(){
			$('.form-index input').eq(0).addClass('borc70');
		})

  // 免费量房弹框内容提示
  $('#mflf').click(function(){
		layer.open({
      title:'立即预约免费量房',
		  type: 1,
		  area: ['420px'], //宽高
		  content: $('#mflf-tc')
		});
	})
  // 免费设计弹框内容提示
  $('#mfsj').click(function(){
		layer.open({
      title:'立即预约免费设计',
		  type: 1,
		  area: ['420px'], //宽高
		  content: $('#mfsj-tc')
		});
	})
  // 参观样板间弹框内容提示
  $('#cgybj').click(function(){
		layer.open({
      title:'立即预约参观样板间',
		  type: 1,
		  area: ['420px'], //宽高
		  content: $('#cgybj-tc')
		});
	})
	$(function(){
	$('.f-btn').click(function(){
	var dh = $(this).parent().find(".name-dh").val();
	var mj = $(this).parent().find(".name-mj").val();
	var ch = $(this).parent().find(".name-ch").val();
		if (ch =="") {
			alert("请输入您的称呼!");
			return false;
		}
		if (dh =="") {
			alert("请输入您的电话!");
			return false;
		}
		if (mj =="") {
			alert("请输入您的房屋面积!");
			return false;
		}
		if(dh.length !=11 || dh.substring(0,1)!=1  ){
			alert("输入的手机号码格式错误！");
			$(".name-dh").focus();
			return false;
		}
	})
	$('.lay-btn').click(function(){
	var dh = $(this).parent().find(".name-dh").val();
	var mj = $(this).parent().find(".name-xq").val();
	var ch = $(this).parent().find(".name-ch").val();
		if (ch =="") {
			alert("请输入您的称呼!");
			return false;
		}
		if (dh =="") {
			alert("请输入您的电话!");
			return false;
		}
		if (mj =="") {
			alert("请输入您的房屋面积!");
			return false;
		}
		if(dh.length !=11 || dh.substring(0,1)!=1  ){
			alert("输入的手机号码格式错误！");
			$(".name-dh").focus();
			return false;
		}
	})
	$('.index-lyy').click(function(){
		var dh = $(this).parent().find(".name-dh").val();
		 if (dh =="") {
			alert("请输入您的电话!");
			return false;
		}
		if(dh.length !=11 || dh.substring(0,1)!=1  ){
			alert("输入的手机号码错误！");
			$(".name-dh").focus();
			return false;
		}
	})
});
	$('.mf-lfcs').hover(function(){
		$(this).find('img').attr('src','img/i112.png');
	},function(){
		$(this).find('img').attr('src','img/i11.png');
	})
	$('.mf-lfcs2').hover(function(){
		$(this).find('img').attr('src','img/i223.png');
	},function(){
		$(this).find('img').attr('src','img/i22.png');
	})
	var swiper1 = new Swiper('#index-logo', {
	      slidesPerView: 6,
	      spaceBetween: 30,
	      loop:true,
	      autoplay:1000,
	    });
// 客户评论轮播
		var swiper2 = new Swiper('#index-kb', {
	        loop:true,
	        autoplay:5000,
	        pagination:$('.shuadong'),
			paginationClickable: true,
			paginationElement: 'span',
			bulletClass: 'inline',
			bulletActiveClass: 'active',
	    });
      //客户评论加悬停事件
      $("#index-kb").mouseenter(function () {//滑过悬停
          swiper2.stopAutoplay();//mySwiper 为上面你swiper实例化的名称
      }).mouseleave(function(){//离开开启
          swiper2.startAutoplay();
      });
	J_indexSlide();
	 
function J_indexSlide() {
  var wrap = $("#J_indexSlide"),
    bd = $(".bd", wrap),
    hd = $(".hd", wrap),
    prev = $(".prev", wrap),
    next = $(".next", wrap);
  var Slide = new Swiper(bd, {
    autoplay: 4000,
    autoplayDisableOnInteraction: false,
    loop: true,
    prevButton: prev,
    nextButton: next,
    preventClicks: false,
    pagination: hd,
    paginationClickable: true,
    paginationElement: 'span',
    bulletClass: 'inline',
    bulletActiveClass: 'active',
  });
  //加悬停事件
  $("#J_indexSlide").mouseenter(function () {//滑过悬停
      Slide.stopAutoplay();//mySwiper 为上面你swiper实例化的名称
  }).mouseleave(function(){//离开开启
      Slide.startAutoplay();
  });
}
});
</script>




   <!--53客服-->
<script>(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/10151974/1";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();</script>
   <!--站长统计-->
   <script src="https://s13.cnzz.com/z_stat.php?id=1273005258&web_id=1273005258" language="JavaScript"></script>
   <!--百度统计-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2cb05ffa737ee9115d5021bdd41be3f1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
    <script>  
        function getUrlParms(name){  
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");  
            var r = window.location.search.substr(1).match(reg);  
            if(r!=null)  
                return unescape(r[2]);  
                return null;  
        }  
        document.getElementById("laiyuan").value=getUrlParms("laiyuan");  
        document.getElementById("chuangyi").value=getUrlParms("chuangyi");  
    </script>
<script>
  	var _mtac = {};
  	(function() {
  		var mta = document.createElement("script");
  		mta.src = "http://pingjs.qq.com/h5/stats.js?v2.0.4";
  		mta.setAttribute("name", "MTAH5");
  		mta.setAttribute("sid", "500512924");

  		var s = document.getElementsByTagName("script")[0];
  		s.parentNode.insertBefore(mta, s);
  	})();
</script>	
</body>
</html>