<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>交换空间_装修资讯</title>
    <meta name="keywords" content="贵阳交换空间装修公司 新房装修 装修效果图">
    <meta name="description" content="贵阳交换空间装饰CCTV合作中国装修设计第一品牌！咨询电话：0851-8683 9697">
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="__PUBLIC__/home/css/swiper.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/case_list.css">
</head>

<body>
    <!-- 头部 begin -->
    <div class="header">
        <div class="head-group">
            <div class="logo">
                <a href="/index.html">
                    <img src="../img/logo.png" alt="logo">
                </a>
            </div>
            <ul class="navs">
                <li class="navlist">
                    <a href="<?=url('index/index')?>">首页</a>
                </li>
                <li class="navlist">
                    <a href="<?=url('index/product')?>">定制整装</a>
                </li>
                <li class="navlist">
                    <a href="<?=url('index/design')?>">量房设计</a>
                </li>
                <li class="navlist">
                    <a href="<?=url('index/quote')?>">智能报价</a>
                </li>
                <li class="navlist">
                    <a href="<?=url('index/demo')?>">实景样板间</a>
                </li>
                <li class="navlist cur">
                    <a href="<?=url('index/about')?>">装修资讯</a>
                </li>
            </ul>
            <div class="tel-group">
                <img src="../img/icon_tel.png" alt="">
                <span>0851-8683 9697</span>
            </div>
        </div>
    </div>
    <!-- 头部end -->
    <!-- 详情banner begin -->
    <div class="case-list-ban">
        <img src="../img/info-ban.png" alt="">
    </div>
    <div class="case-details info-details">
        <ul class="details-show">
            <li class="details-show-lt">
                <h3 class="tab-control">
                    <span class="tabs actives">媒体动态</span>
                    <span class="tabs">装修指南</span>
                </h3>
                <ul class="tab-boxs">
                    <li class="tab-list-con">
                        <ul class="info-box">
                            <li class="info-list-con">
                                <div class="info-img">
                                    <a href="/info/index.html">
                                        <img src="../img/infoimg01.png" alt="">
                                    </a>
                                </div>
                                <div class="info-msg">
                                    <h4>
                                        <a href="/info/index.html">
                                            <span class="idnum">1</span>、交换空间装修大事件</a>
                                        <span class="timer">2018-05-01</span>
                                    </h4>
                                    <a href="/info/index.html">
                                        <p class="p1">01、家装咨询：客户向设计师咨询家装设计风格、费用、周期等。</p>
                                        <p class="p2">02、现场量房：由设计师到客户拟装修的居室进行现场勘测，并进行综合的考察，以便更加科学、合理地积极哦进行家装设计。</p>
                                    </a> 
                                </div>
                            </li>
                            <li class="info-list-con">
                                <div class="info-img">
                                    <a href="/info/index.html">
                                        <img src="../img/infoimg01.png" alt="">
                                    </a>
                                </div>
                                <div class="info-msg">
                                    <h4>
                                        <a href="/info/index.html">
                                            <span class="idnum">2</span>、交换空间装修大事件</a>
                                        <span class="timer">2018-05-01</span>
                                    </h4>
                                    <a href="/info/index.html">
                                        <p class="p1">01、家装咨询：客户向设计师咨询家装设计风格、费用、周期等。</p>
                                        <p class="p2">02、现场量房：由设计师到客户拟装修的居室进行现场勘测，并进行综合的考察，以便更加科学、合理地积极哦进行家装设计。</p>
                                    </a> 
                                </div>
                            </li>
                            <li class="info-list-con">
                                <div class="info-img">
                                    <a href="/info/index.html">
                                        <img src="../img/infoimg01.png" alt="">
                                    </a>
                                </div>
                                <div class="info-msg">
                                    <h4>
                                        <a href="/info/index.html">
                                            <span class="idnum">3</span>、交换空间装修大事件</a>
                                        <span class="timer">2018-05-01</span>
                                    </h4>
                                    <a href="/info/index.html">
                                        <p class="p1">01、家装咨询：客户向设计师咨询家装设计风格、费用、周期等。</p>
                                        <p class="p2">02、现场量房：由设计师到客户拟装修的居室进行现场勘测，并进行综合的考察，以便更加科学、合理地积极哦进行家装设计。</p>
                                    </a> 
                                </div>
                            </li>
                            <li class="info-list-con">
                                <div class="info-img">
                                    <a href="/info/index.html">
                                        <img src="../img/infoimg01.png" alt="">
                                    </a>
                                </div>
                                <div class="info-msg">
                                    <h4>
                                        <a href="/info/index.html">
                                            <span class="idnum">4</span>、交换空间装修大事件</a>
                                        <span class="timer">2018-05-01</span>
                                    </h4>
                                    <a href="/info/index.html">
                                        <p class="p1">01、家装咨询：客户向设计师咨询家装设计风格、费用、周期等。</p>
                                        <p class="p2">02、现场量房：由设计师到客户拟装修的居室进行现场勘测，并进行综合的考察，以便更加科学、合理地积极哦进行家装设计。</p>
                                    </a> 
                                </div>
                            </li>
                            <li class="info-list-con">
                                <div class="info-img">
                                    <a href="/info/index.html">
                                        <img src="../img/infoimg01.png" alt="">
                                    </a>
                                </div>
                                <div class="info-msg">
                                    <h4>
                                        <a href="/info/index.html">
                                            <span class="idnum">5</span>、交换空间装修大事件</a>
                                        <span class="timer">2018-05-01</span>
                                    </h4>
                                    <a href="/info/index.html">
                                        <p class="p1">01、家装咨询：客户向设计师咨询家装设计风格、费用、周期等。</p>
                                        <p class="p2">02、现场量房：由设计师到客户拟装修的居室进行现场勘测，并进行综合的考察，以便更加科学、合理地积极哦进行家装设计。</p>
                                    </a> 
                                </div>
                            </li>
                            <li class="info-list-con">
                                <div class="info-img">
                                    <a href="/info/index.html">
                                        <img src="../img/infoimg01.png" alt="">
                                    </a>
                                </div>
                                <div class="info-msg">
                                    <h4>
                                        <a href="/info/index.html">
                                            <span class="idnum">6</span>、交换空间装修大事件</a>
                                        <span class="timer">2018-05-01</span>
                                    </h4>
                                    <a href="/info/index.html">
                                        <p class="p1">01、家装咨询：客户向设计师咨询家装设计风格、费用、周期等。</p>
                                        <p class="p2">02、现场量房：由设计师到客户拟装修的居室进行现场勘测，并进行综合的考察，以便更加科学、合理地积极哦进行家装设计。</p>
                                    </a> 
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="tab-list-con">
                        <ul class="info-box">
                            <li class="info-list-con">
                                <div class="info-img">
                                    <a href="/info/index.html">
                                        <img src="../img/infoimg01.png" alt="">
                                    </a>
                                </div>
                                <div class="info-msg">
                                    <h4>
                                        <a href="/info/index.html">
                                            <span class="idnum">1</span>、交换空间装修流程</a>
                                        <span class="timer">2018-05-01</span>
                                    </h4>
                                    <a href="/info/index.html">
                                        <p class="p1">01、家装咨询：客户向设计师咨询家装设计风格、费用、周期等。</p>
                                        <p class="p2">02、现场量房：由设计师到客户拟装修的居室进行现场勘测，并进行综合的考察，以便更加科学、合理地积极哦进行家装设计。</p>
                                    </a> 
                                </div>
                            </li>
                            <li class="info-list-con">
                                <div class="info-img">
                                    <a href="/info/index.html">
                                        <img src="../img/infoimg01.png" alt="">
                                    </a>  
                                </div>
                                <div class="info-msg">
                                    <h4>
                                        <a href="/info/index.html">
                                            <span class="idnum">2</span>、交换空间装修大事件</a>
                                        <span class="timer">2018-05-01</span>
                                    </h4>
                                    <a href="/info/index.html">
                                        <p class="p1">01、家装咨询：客户向设计师咨询家装设计风格、费用、周期等。</p>
                                        <p class="p2">02、现场量房：由设计师到客户拟装修的居室进行现场勘测，并进行综合的考察，以便更加科学、合理地积极哦进行家装设计。</p>
                                    </a> 
                                </div>
                            </li>
                            <li class="info-list-con">
                                <div class="info-img">
                                    <a href="/info/index.html">
                                        <img src="../img/infoimg01.png" alt="">
                                    </a>
                                </div>
                                <div class="info-msg">
                                    <h4>
                                        <a href="/info/index.html">
                                            <span class="idnum">3</span>、交换空间装修大事件</a>
                                        <span class="timer">2018-05-01</span>
                                    </h4>
                                    <a href="/info/index.html">
                                        <p class="p1">01、家装咨询：客户向设计师咨询家装设计风格、费用、周期等。</p>
                                        <p class="p2">02、现场量房：由设计师到客户拟装修的居室进行现场勘测，并进行综合的考察，以便更加科学、合理地积极哦进行家装设计。</p>
                                    </a> 
                                </div>
                            </li>
                            <li class="info-list-con">
                                <div class="info-img">
                                    <a href="/info/index.html">
                                    </a>
                                    <img src="../img/infoimg01.png" alt="">
                                </div>
                                <div class="info-msg">
                                    <h4>
                                        <a href="/info/index.html">
                                            <span class="idnum">4</span>、交换空间装修大事件</a>
                                        <span class="timer">2018-05-01</span>
                                    </h4>
                                    <a href="/info/index.html">
                                        <p class="p1">01、家装咨询：客户向设计师咨询家装设计风格、费用、周期等。</p>
                                        <p class="p2">02、现场量房：由设计师到客户拟装修的居室进行现场勘测，并进行综合的考察，以便更加科学、合理地积极哦进行家装设计。</p>
                                    </a> 
                                </div>
                            </li>
                            <li class="info-list-con">
                                <div class="info-img">
                                    <a href="/info/index.html">
                                    </a>
                                    <img src="../img/infoimg01.png" alt="">
                                </div>
                                <div class="info-msg">
                                    <h4>
                                        <a href="/info/index.html">
                                            <span class="idnum">5</span>、交换空间装修大事件</a>
                                        <span class="timer">2018-05-01</span>
                                    </h4>
                                    <a href="/info/index.html">
                                        <p class="p1">01、家装咨询：客户向设计师咨询家装设计风格、费用、周期等。</p>
                                        <p class="p2">02、现场量房：由设计师到客户拟装修的居室进行现场勘测，并进行综合的考察，以便更加科学、合理地积极哦进行家装设计。</p>
                                    </a> 
                                </div>
                            </li>
                            <li class="info-list-con">
                                <div class="info-img">
                                    <a href="/info/index.html">
                                        <img src="../img/infoimg01.png" alt="">
                                    </a>

                                </div>
                                <div class="info-msg">
                                    <h4>
                                        <a href="/info/index.html">
                                            <span class="idnum">6</span>、交换空间装修大事件</a>
                                        <span class="timer">2018-05-01</span>
                                    </h4>
                                    <a href="/info/index.html">
                                        <p class="p1">01、家装咨询：客户向设计师咨询家装设计风格、费用、周期等。</p>
                                        <p class="p2">02、现场量房：由设计师到客户拟装修的居室进行现场勘测，并进行综合的考察，以便更加科学、合理地积极哦进行家装设计。</p>
                                    </a> 
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="page">
                    <a href="javascript:;" class="prev-page pages">上一页</a>
                    <a href="javascript:;" class="num-page page-active">1</a>
                    <a href="javascript:;" class="num-page">2</a>
                    <a href="javascript:;" class="num-page">3</a>
                    <a href="javascript:;" class="num-page">...</a>
                    <a href="javascript:;" class="num-page">9</a>
                    <a href="javascript:;" class="num-page">10</a>
                    <a href="javascript:;" class="next-page pages">下一页</a>
                </p>
            </li>
            <li class="details-show-rt">
                <div>
                    <a href="#">
                        <img src="../img/infopic.png" alt="">
                    </a>
                </div>
                <div class="oder-group info-groups">
                    <img src="../img/hot.png" alt="" class="hot">
                    <h3>预约本方案设计师1</h3>
                    <form class="form-rt" name='feedback' method='post' enctype='multipart/form-data' action="<?=url('index/index')?>">
                        <input type=hidden name=ecmsfrom value="/ ">
                        <input name='enews' type='hidden' value='AddFeedback'>
                        <input name='title' type='hidden' value='实景案例预约'>
                        <input type=hidden name=bid value=2>
                        <input type=hidden name=laiyuan id=laiyuan>
                        <input type=hidden name=chuangyi id=chuangyi>

                        <input type="text" name="name" class="nickname input" id="name " placeholder="请输入您的称呼" />
                        <input type="number" name="mycall" class="phone input" id="mycall " placeholder="请输入您的手机号码" />
                        <input type="submit" class="subtn2 " value="立即预约 " />
                    </form>
                    <div class="info-show">
                        <p>*已有
                            <i>265</i> 位业主预约设计师</p>
                        <div class="swiper-container" id="swiper-container3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <em>王**</em>&nbsp&nbsp&nbsp
                                    <span>182****8551</span>&nbsp&nbsp&nbsp
                                    <i>预约成功</i>
                                </div>
                                <div class="swiper-slide">
                                    <em>刘**</em>&nbsp&nbsp&nbsp
                                    <span>182****8759</span>&nbsp&nbsp&nbsp
                                    <i>预约成功</i>
                                </div>
                                <div class="swiper-slide">
                                    <em>周**</em>&nbsp&nbsp&nbsp
                                    <span>182****3123</span>&nbsp&nbsp&nbsp
                                    <i>预约成功</i>
                                </div>
                                <div class="swiper-slide">
                                    <em>宋**</em>&nbsp&nbsp&nbsp
                                    <span>134****8759</span>&nbsp&nbsp&nbsp
                                    <i>预约成功</i>
                                </div>
                                <div class="swiper-slide">
                                    <em>王**</em>&nbsp&nbsp&nbsp
                                    <span>156****0910</span>&nbsp&nbsp&nbsp
                                    <i>预约成功</i>
                                </div>
                                <div class="swiper-slide">
                                    <em>赵**</em>&nbsp&nbsp&nbsp
                                    <span>182****8759</span>&nbsp&nbsp&nbsp
                                    <i>预约成功</i>
                                </div>
                                <div class="swiper-slide">
                                    <em>王**</em>&nbsp&nbsp&nbsp
                                    <span>156****0901</span>&nbsp&nbsp&nbsp
                                    <i>预约成功</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="remend">
                    <h3 class="remend-title">
                        <span></span>
                        <i>大家都在看</i>
                        <span></span>
                    </h3>
                    <ul class="info-views">
                        <li class="info-case-show">
                            <a href="/case_list/index.html" class="info-case">1、国熙台-欧式新古典记录好苦好你你看看</a>
                            <div class="msgimg">
                                <a href="/case_list/index.html">
                                    <img src="../img/infocase01.png" alt="">
                                </a>
                            </div>
                        </li>
                        <li class="info-case-show">
                            <a href="/case_list/index.html" class="info-case">2、湖城大境4号地那就是复活甲内存地中海</a>
                            <div class="msgimg">
                                <a href="/case_list/index.html">
                                    <img src="../img/infocase01.png" alt="">
                                </a>
                            </div>
                        </li>
                        <li class="info-case-show">
                            <a href="/case_list/index.html" class="info-case">3、湖城大境4号地 地中海装修效两</a>
                            <div class="msgimg">
                                <a href="/case_list/index.html">
                                    <img src="../img/infocase01.png" alt="">
                                </a>
                            </div>
                        </li>
                        <li class="info-case-show">
                            <a href="/case_list/index.html" class="info-case">4、湖城大境4号地 地中海。</a>
                            <div class="msgimg">
                                <a href="/case_list/index.html">
                                    <img src="../img/infocase01.png" alt="">
                                </a>
                            </div>
                        </li>
                        <li class="info-case-show">
                            <a href="/case_list/index.html" class="info-case">5、湖城大境4号地 地中海装修效两</a>
                            <div class="msgimg">
                                <a href="/case_list/index.html">
                                    <img src="../img/infocase01.png" alt="">
                                </a>
                            </div>
                        </li>
                        <li class="info-case-show">
                            <a href="/case_list/index.html" class="info-case">6、湖城大境4号地那就是复活甲内存地中海</a>
                            <div class="msgimg">
                                <a href="/case_list/index.html">
                                    <img src="../img/infocase01.png" alt="">
                                </a>
                            </div>
                        </li>
                        <li class="info-case-show">
                            <a href="/case_list/index.html" class="info-case">7、湖城大境4号地那就是复活甲内存地中海</a>
                            <div class="msgimg">
                                <a href="/case_list/index.html">
                                    <img src="../img/infocase01.png" alt="">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="advertising">
            <a href="javascript:;">
                <img src="../img/advertising.png" alt="">
            </a>
        </div>
    </div>
    <!-- 底部展示begin -->
    <div class="foot-container">
        <div class="foot-info">
            <div class="bot-left">
                <h3>
                    <a href="/index.html">
                        <img src="../img/logo.png" alt="">
                    </a>
                </h3>
                <p>
                    <img src="../img/logo_bot.png" alt="">
                </p>
            </div>
            <div class="hot-line">
                <p>
                    <img src="../img/tel.png" alt="">
                    <span>
                        官方服务热线：
                        <br/>
                        <i>0851-86839697</i>
                    </span>
                </p>
                <p>
                    <img src="../img/service.png" alt="">
                    <span>
                        贵阳交换空间装饰工程有限公司
                        <br/>
                        <em>服务时间：9:00-22:00</em>
                    </span>
                </p>
            </div>
            <div class="code-con">
                <img src="../img/code.png" alt="">
                <p>扫码关注微信公众号</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <p class="bot-nav">
            <a href="/about/index.html">装修资讯</a>|
            <a href="/quote/index.html">智能报价</a>|
            <a href="/design/index.html">量房设计</a>|
            <a href="/case/index.html">实景体验馆</a>|
            <a href="/product/index.html">定制整装</a>|
            <a href="javascript:;">商务合作</a>|
            <a href="javascript:;">投诉建议</a>
        </p>
        <p>Copyright All Rights Reserved.&nbsp&nbsp贵阳交换空间装饰工程有限公司&nbsp&nbsp版权所有&nbsp&nbsp
            <script src="https://s13.cnzz.com/z_stat.php?id=1273005258&web_id=1273005258" language="JavaScript"></script>&nbsp&nbsp
            <span>公司地址：贵州省贵阳市云岩区兴中元大厦3-4层</span>
            <br/>
            <a href="http://www.miitbeian.gov.cn/" target="_blank">黔ICP备18002532号</a>
        </p>
    </div>
    <!-- 表单 -->
    <div class="float-box">
        <div class="form-fixed">
            <ul>
                <li class="f-lt">
                    <img src="../img/hand.png" alt="">
                </li>
                <li class="f-title">
                    <h3>现在预约</h3>
                    <p>免费获取全房装修设计效果图</p>
                </li>
                <li class="f-form">
                    <form class="form" name='feedback' method='post' enctype='multipart/form-data' action="<?=url('index/index')?>">
                        <input type=hidden name=ecmsfrom value="/">
                        <input name='enews' type='hidden' value='AddFeedback'>
                        <input name='title' type='hidden' value='底部固定预约'>
                        <input type=hidden name=bid value=2>
                        <input type=hidden name=laiyuan id=laiyuan>
                        <input type=hidden name=chuangyi id=chuangyi>
                        <input type="text" name="name" class="nickname" id="name" placeholder="请输入您的称呼" />
                        <input type="number" name="mycall" class="phone" id="mycall" placeholder="请输入您的手机号码" />
                        <input type="submit" class="subtn" value="立即预约" />
                    </form>
                </li>
                <li class="colsebtn">
                    <img src="../img/colse01.png" alt="">
                </li>
            </ul>
        </div>
    </div>
    <!-- 侧边栏导航 -->
    <div class="slidebar">
        <ul>
            <li class="slidebar-list">
                <a href="javascript:;">
                    <div>
                        <img src="../img/icon-tel.png" alt="">
                    </div>
                    <p>在线咨询</p>
                </a>
            </li>
            <li class="slidebar-list bt show-btn" data-layer="10">
                <div>
                    <img src="../img/icon-order.png" alt="">
                </div>
                <p>预约参观</p>
            </li>
            <li class="slidebar-list bt">
                <a href="/quote/index.html">
                    <div>
                        <img src="../img/icon-quote.png" alt="">
                    </div>
                    <p>免费报价</p>
                </a>
            </li>
            <li class="slidebar-list bt code-hover">
                <div>
                    <img src="../img/icon-code.png" alt="">
                </div>
                <p>关注微信</p>
            </li>
            <li class="slidebar-list bt to-top">
                <div>
                    <img src="../img/icon-top.png" alt="">
                </div>
                <p>返回顶部</p>
            </li>
        </ul>
        <div class="code">
            <img src="../img/code.png" alt="">
        </div>
    </div>
    <script src="__PUBLIC__/home/js/jquery.js "></script>
    <script src="__PUBLIC__/home/js/swiper.js "></script>
    <script src="__PUBLIC__/home/js/wow.min.js "></script>
    <script src="__PUBLIC__/home/js/fdx.js "></script>
    <script src="__PUBLIC__/home/js/index.js "></script>
    <script src="__PUBLIC__/home/js/form.js "></script>
    <script src="__PUBLIC__/home/js/urlparams.js"></script>
</body>

</html>