{include file="index/header" /}
<!-- 头部end -->
<!-- 详情banner begin -->
<div class="case-list-ban">
    <img src="__HOME__/img/case_listban.png" alt="">
</div>
<div class="case-details">
    <h3 class="details-title">
        <a href="/case/index.html">实景样板间</a> >>
        <a href="/case_list/index.html">案例详情</a>
    </h3>
    <ul class="details-show">
        <li class="details-show-lt">
            <div id="gallery" class="ad-gallery">
                <div class="ad-image-wrapper"></div>
                <div id="huxing-bigimg">
                    <img src="__HOME__/img/detailstab0.png" height="600" style="width:auto;" />
                </div>
                <div class="ad-controls"></div>
                <div class="ad-nav">
                    <div class="huxingtu">
                        <a href="javascript:;">
                            <img src="__HOME__/img/detailstab0.png" id="showhuxing" />
                        </a>
                    </div>
                    <div class="ad-thumbs">
                        <ul class="ad-thumb-list">
                            <li>
                                <a href="__HOME__/img/detailsban01.png">
                                    <img src="__HOME__/img/detailsban01.png" alt="待在此客厅像是置身于海底世界，浅色的与暖暖的灯光相配吗，彷佛海与天的交融，电视背景墙拱形的设计，让墙面更有立体感。">
                                </a>
                            </li>
                            <li>
                                <a href="__HOME__/img/detailsban01.png">
                                    <img src="__HOME__/img/detailsban01.png" alt="设计理念：业主需求以绿为整套案例的主题，绿有很多种，设计师选的这种绿再配合局部的创意设计，无疑是一套完美的组合。这种绿也更多可运用到一些小清新的元素里。">
                                </a>
                            </li>
                            <li>
                                <a href="__HOME__/img/detailsban01.png">
                                    <img src="__HOME__/img/detailsban01.png" alt="设计理念：业主需求以绿为整套案例的主题，绿有很多种，设计师选的这种绿再配合局部的创意设计，无疑是一套完美的组合。这种绿也更多可运用到一些小清新的元素里。">
                                </a>
                            </li>
                            <li>
                                <a href="__HOME__/img/detailsban01.png">
                                    <img src="__HOME__/img/detailsban01.png" alt="设计理念：业主需求以绿为整套案例的主题，绿有很多种，设计师选的这种绿再配合局部的创意设计，无疑是一套完美的组合。这种绿也更多可运用到一些小清新的元素里。">
                                </a>
                            </li>
                            <li>
                                <a href="__HOME__/img/detailsban01.png">
                                    <img src="__HOME__/img/detailsban01.png" alt="设计理念：业主需求以绿为整套案例的主题，绿有很多种，设计师选的这种绿再配合局部的创意设计，无疑是一套完美的组合。这种绿也更多可运用到一些小清新的元素里。">
                                </a>
                            </li>
                            <li>
                                <a href="__HOME__/img/detailsban01.png">
                                    <img src="__HOME__/img/detailsban01.png" alt="设计理念：业主需求以绿为整套案例的主题，绿有很多种，设计师选的这种绿再配合局部的创意设计，无疑是一套完美的组合。这种绿也更多可运用到一些小清新的元素里。">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="details-show-rt">
            <div class="design-infos">
                <div class="infos-top">
                    <span class="avatar"><img src="__HOME__/img/avatar01.png" alt=""></span>
                    <span class="design-infor">
                            <i>Vivian</i><br/>3年工作经验
                        </span>
                </div>
                <div class="works">
                    <p><span>小区：</span>时代华府</p>
                    <p><span>户型：</span>2室1厅1卫1厨</p>
                    <p><span>面积：</span>108m2</p>
                    <p><span>造价：</span>8-12万</p>
                    <p><span>风格：</span>现代简约</p>
                    <p><span>作品描述：</span>108平米现代简约，简约是一种内涵、是一种家的字符共和国序号不预付缉私局计价。</p>
                </div>
            </div>
            <div class="oder-group">
                <img src="__HOME__/img/hot.png" alt="" class="hot">
                <h3>预约本方案设计师</h3>
                <form class="form-rt" name='feedback' method='post' enctype='multipart/form-data' action='/e/enews/index.php'>
                    <input type=hidden name=ecmsfrom value="/ ">
                    <input name='enews' type='hidden' value='AddFeedback'>
                    <input name='title' type='hidden' value='实景案例预约'>
                    <input type=hidden name=bid value=2>
                    <input type=hidden name=laiyuan id=laiyuan>
                    <input type=hidden name=chuangyi id=chuangyi>

                    <input type="text " name="name" class="nickname input" id="name " placeholder="请输入您的称呼 " />
                    <input type="number " name="mycall" class="phone input" id="mycall " placeholder="请输入您的手机号码，获取免费服务 " />
                    <input type="submit " class="subtn2 " value="立即预约 " />
                </form>
                <div class="info-show">
                    <p>*已有 <i>265</i> 位业主预约设计师</p>
                    <div class="swiper-container" id="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <em>王**</em>&nbsp&nbsp&nbsp
                                <span>182****8551</span>&nbsp&nbsp&nbsp
                                <i>预约成功</i>
                            </div>
                            <div class="swiper-slide">
                                <em>刘**</em>&nbsp&nbsp&nbsp
                                <span>182****8759</span>&nbsp&nbsp&nbsp
                                <i>预约成功</i>
                            </div>
                            <div class="swiper-slide">
                                <em>周**</em>&nbsp&nbsp&nbsp
                                <span>182****3123</span>&nbsp&nbsp&nbsp
                                <i>预约成功</i>
                            </div>
                            <div class="swiper-slide">
                                <em>宋**</em>&nbsp&nbsp&nbsp
                                <span>134****8759</span>&nbsp&nbsp&nbsp
                                <i>预约成功</i>
                            </div>
                            <div class="swiper-slide">
                                <em>王**</em>&nbsp&nbsp&nbsp
                                <span>156****0910</span>&nbsp&nbsp&nbsp
                                <i>预约成功</i>
                            </div>
                            <div class="swiper-slide">
                                <em>赵**</em>&nbsp&nbsp&nbsp
                                <span>182****8759</span>&nbsp&nbsp&nbsp
                                <i>预约成功</i>
                            </div>
                            <div class="swiper-slide">
                                <em>王**</em>&nbsp&nbsp&nbsp
                                <span>156****0901</span>&nbsp&nbsp&nbsp
                                <i>预约成功</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="tjcase">
        <h3><span>推荐案例</span><a href="/case/index.html">更多>></a></h3>
        <div>
            <a href="/case_list/index.html"><img src="__HOME__/img/details01.png" alt=""></a>
            <a href="/case_list/index.html"><img src="__HOME__/img/details02.png" alt=""></a>
            <a href="/case_list/index.html"><img src="__HOME__/img/details03.png" alt=""></a>
            <a href="/case_list/index.html"><img src="__HOME__/img/details04.png" alt=""></a>
            <a href="/case_list/index.html"><img src="__HOME__/img/details05.png" alt=""></a>
        </div>
    </div>
</div>
<!-- 底部展示begin -->
{include file="index/footer" /}