<!-- 底部展示begin -->
<div class="foot-info">
    <div class="bot-left">
        <h3><a href="/index.html"><img src="__HOME__/img/logo.png" alt=""></a></h3>
        <p><img src="__HOME__/img/logo_bot.png" alt=""></p>
        <h5><img src="__HOME__/img/address.png" alt=""><span>贵州省贵阳市云岩区兴中元大厦3-4层</span></h5>
    </div>
    <div class="bot-nav">
        <a href="<?=url('index/about')?>">关于我们</a>
        <a href="/quote/index.html">智能报价</a>
        <a href="/design/index.html">量房设计</a>
        <a href="<?=url('index/demo')?>">实景体验馆</a>
        <a href="/product/index.html">定制整装</a>
        <a href="#">商务合作</a>
        <a href="#">投诉建议</a>
    </div>
    <div class="code-con">
        <img src="__HOME__/img/code.png" alt="">
        <p>扫码关注微信公众号</p>
    </div>
</div>
<div class="footer">
    <p>Copyright  © 2018 <a href="http//www.jhkjgy.com">www.jhkjgy.com</a>   贵阳交换空间装饰工程有限公司  版权所有 </p>
    <p><a href="http://www.miitbeian.gov.cn/" target="_blank">黔ICP备18002532号</a>&nbsp&nbsp&nbsp<script src="https://s13.cnzz.com/z_stat.php?id=1273005258&web_id=1273005258" language="JavaScript"></script></p>
</div>
<!-- 表单 -->
<div class="form-wrap form-wrap3">
    <div class="form-content">
        <div class="form-titles">
            <h3>预约参观</h3>
            <p>预约参观家装新风尚 品质生活触手可得</p>
        </div>
        <form class="form-view" name='feedback' method='post' enctype='multipart/form-data' action='/e/enews/index.php'>
            <input type=hidden name=ecmsfrom value="/">
            <input name='enews' type='hidden' value='AddFeedback'>
            <input name='title' type='hidden' value='实景案例预约'>
            <input type=hidden name=bid value=2>
            <input type=hidden name=laiyuan id=laiyuan>
            <input type=hidden name=chuangyi id=chuangyi>
            <label class="inputbox">
                <span class="input-info">您的称呼</span>
                <input type="text" name="name" class="nickname input" id="name" placeholder="请输入您的称呼"/>
            </label>
            <label class="inputbox">
                <span class="input-info">您的电话</span>
                <input type="number" name="mycall" class="phone input" id="mycall" placeholder="请输入您的手机号码，获取免费服务"/>
            </label>
            <input type="submit" class="subtn1" value="立即预约"/>
        </form>
        <div class="close closebtn"></div>
    </div>
</div>
<div class="form-wrap form-wrap2">
    <div class="form-content">
        <div class="form-titles">
            <h3>预约参观</h3>
            <p>预约参观家装新风尚 品质生活触手可得</p>
        </div>
        <form class="form-view" name='feedback' method='post' enctype='multipart/form-data' action='/e/enews/index.php'>
            <input type=hidden name=ecmsfrom value="/">
            <input name='enews' type='hidden' value='AddFeedback'>
            <input name='title' type='hidden' value='实景案例预约'>
            <input type=hidden name=bid value=2>
            <input type=hidden name=laiyuan id=laiyuan>
            <input type=hidden name=chuangyi id=chuangyi>
            <label class="inputbox">
                <span class="input-info">您的称呼</span>
                <input type="text" name="name" class="nickname input" id="name" placeholder="请输入您的称呼"/>
            </label>
            <label class="inputbox">
                <span class="input-info">您的电话</span>
                <input type="number" name="mycall" class="phone input" id="mycall" placeholder="请输入您的手机号码，获取免费服务"/>
            </label>
            <input type="submit" class="subtn1" value="立即预约"/>
        </form>
        <div class="close closebtn"></div>
    </div>
</div>
<div class="float-box">
    <div class="form-fixed">
        <ul>
            <li class="f-lt"><img src="__HOME__/img/hand.png" alt=""></li>
            <li class="f-title">
                <h3>现在预约</h3>
                <p>免费获取全房装修设计效果图</p>
            </li>
            <li class="f-form">
                <form class="form" name='feedback' method='post' enctype='multipart/form-data' action='/e/enews/index.php'>
                    <input type=hidden name=ecmsfrom value="/">
                    <input name='enews' type='hidden' value='AddFeedback'>
                    <input name='title' type='hidden' value='底部固定预约'>
                    <input type=hidden name=bid value=2>
                    <input type=hidden name=laiyuan id=laiyuan>
                    <input type=hidden name=chuangyi id=chuangyi>
                    <input type="text" name="name" class="nickname" id="name" placeholder="请输入您的称呼"/>
                    <input type="number" name="mycall" class="phone" id="mycall" placeholder="请输入您的手机号码"/>
                    <input type="submit" class="subtn" value="立即预约"/>
                </form>
            </li>
            <li class="colsebtn"><img src="img/colse01.png" alt=""></li>
        </ul>
    </div>
</div>
<script src="__HOME__//js/jquery.js"></script>
<script src="__HOME__//js/swiper.js"></script>
<script src="__HOME__//js/wow.min.js"></script>
<script src="__HOME__//js/fdx.js"></script>
<script src="__HOME__//js/index.js"></script>
<script src="__HOME__//js/deploy.js"></script>
</body>
</html>