<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>交换空间_定制整装</title>
    <meta name="keywords" content="贵阳交换空间装修公司 新房装修 装修效果图">
    <meta name="description" content="贵阳交换空间装饰CCTV合作中国装修设计第一品牌！咨询电话：0851-8683 9697">
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="__PUBLIC__/home/css/swiper.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/product.css">
</head>

<body>
    <!-- 头部begin -->
    <div class="header">
        <div class="head-group">
            <div class="logo">
                <a href="/index.html">
                    <img src="../img/logo.png" alt="logo">
                </a>
            </div>
            <ul class="navs">
                <li class="navlist">
                    <a href="<?=url('index/index')?>">首页</a>
                </li>
                <li class="navlist cur">
                    <a href="<?=url('index/product')?>">定制整装</a>
                </li>
                <li class="navlist">
                    <a href="<?=url('index/design')?>">量房设计</a>
                </li>
                <li class="navlist">
                    <a href="<?=url('index/quote')?>">智能报价</a>
                </li>
                <li class="navlist">
                    <a href="<?=url('index/demo')?>">实景样板间</a>
                </li>
                <li class="navlist">
                    <a href="<?=url('index/about')?>">装修资讯</a>
                </li>
            </ul>
            <div class="tel-group">
                <img src="../img/icon_tel.png" alt="">
                <span>0851-8683 9697</span>
            </div>
        </div>
    </div>
    <!-- 头部end -->
    <!-- banner区 -->
    <div class="ban-group">
        <img src="../img/prd_ban.png" alt="">
        <div class="to-down">
            <img src="../img/toDown.png" alt="" class="toDown">
        </div>
    </div>
    <!-- banner end -->
    <!-- 计价区 begin -->
    <div class="valua-group">
        <div class="valua-con">
            <h2 class="titles wow bounceInDown" data-wow-delay="0.5s" data-wow-duration="1s">实测面积计价</h2>
            <p class="title-b wow bounceInDown" data-wow-delay="0.4s" data-wow-duration="1s">不为公摊买单，住多少，装多少</p>
            <div class="valua-show">
                <ul class="valua-img wow bounceInLeft" data-wow-delay="0.5s" data-wow-duration="1s">
                    <li>
                        <img src="../img/area-a.png" alt="">
                    </li>
                    <li class="valua-img2">
                        <img src="../img/area-b.png" alt="">
                    </li>
                </ul>
                <div class="vertical-line495 wow bounceInDown" data-wow-delay="0.5s" data-wow-duration="1s"></div>
                <ul class="valua-list wow bounceInRight" data-wow-delay="0.5s" data-wow-duration="1s">
                    <li>
                        <ul class="cost-show">
                            <li class="cost-list">
                                <img src="../img/ic-01.png" alt="">
                                <p>一房一价</p>
                            </li>
                            <li class="cost-list">
                                <img src="../img/ic-02.png" alt="">
                                <p>ERP报价</p>
                            </li>
                            <li class="cost-list">
                                <img src="../img/ic-03.png" alt="">
                                <p>清晰透明</p>
                            </li>
                            <li class="cost-list">
                                <img src="../img/ic-04.png" alt="">
                                <p>套内计价</p>
                            </li>
                            <li class="cost-list">
                                <img src="../img/ic-05.png" alt="">
                                <p>实际测量</p>
                            </li>
                        </ul>
                    </li>
                    <li class="level-line600"></li>
                    <li class="count-show">
                        <img src="../img/proimg01.png" alt="">
                        <img src="../img/proimg02.png" alt="">
                        <img src="../img/proimg03.png" alt="">
                        <span class="sign">=</span>
                        <span data-layer="4" class="orderbtn show-btn">预约参观</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 计价区 end -->
    <!-- 服务保障 begin -->
    <div class="server-show">
        <div class="pro-content">
            <h2 class="titles wow bounceInDown" data-wow-delay="0.5s" data-wow-duration="1s">服务保障</h2>
            <p class="title-b wow bounceInDown" data-wow-delay="0.4s" data-wow-duration="1s">全程透明，全包0增项</p>
            <div class="pro-info pro-server">
                <div class="info-list">
                    <img src="../img/ic-06.png" alt="" class="wow bounceInDown " data-wow-delay="0.5s" data-wow-duration="1s">
                    <div class="info-group wow bounceInUp" data-wow-delay="0.5s" data-wow-duration="1s">
                        <p class="info-title">65项全包</p>
                        <p class="info">从毛坯到精装，包基础，包主材，包施工，包监管，省心省力省钱，好的生活并没那贵</p>
                    </div>
                </div>
                <div class="info-line wow bounceInUp" data-wow-delay="0.5s" data-wow-duration="1s">
                    <img src="../img/line.png" alt="">
                </div>
                <div class="info-list">
                    <img src="../img/ic-07.png" alt="" class="wow bounceInDown " data-wow-delay="0.5s" data-wow-duration="1s">
                    <div class="info-group wow bounceInUp" data-wow-delay="0.5s" data-wow-duration="1s">
                        <p class="info-title">9项不限</p>
                        <p class="info">房间数量不限，水电局改不限，墙漆涂料面积不限，基层处理面积不限，瓷砖面积不限</p>
                    </div>
                </div>
                <div class="info-line wow bounceInUp" data-wow-delay="0.5s" data-wow-duration="1s">
                    <img src="../img/line.png" alt="">
                </div>
                <div class="info-list">
                    <img src="../img/ic-08.png" alt="" class="wow bounceInDown " data-wow-delay="0.5s" data-wow-duration="1s">
                    <div class="info-group wow bounceInUp" data-wow-delay="0.5s" data-wow-duration="1s">
                        <p class="info-title">6大费用全免</p>
                        <p class="info">免材料上楼费，免墙漆调色费，免垃圾清运费，免成品保护费，免运输费，免安装费</p>
                    </div>
                </div>
            </div>
            <span data-layer="5" class="sub-btn1 show-btn wow bounceInUp" data-wow-delay="0.6s" data-wow-duration="1s">预约参观</span>
        </div>
    </div>
    <!-- 服务保障 end -->
    <!-- 空間配置 begin -->
    <div class="deploy">
        <h2 class="titles wow bounceInDown" data-wow-delay="0.5s" data-wow-duration="1s">空间配置，不错过每一个细节</h2>
        <p class="title-b wow bounceInDown" data-wow-delay="0.4s" data-wow-duration="1s">全房空间配置风格任你选</p>
        <div class="deploy-show wow bounceInUp" data-wow-delay="0.5s" data-wow-duration="1s">
            <ul class="deploy-con-show">
                <li class="deploy-con-list">
                    <img src="../img/pro01.png" alt="">
                    <div class="deploy-con-bg">
                        <ul class="deploy-info">
                            <li>1. 墙面铲除及恢复</li>
                            <li>2. 入户门套</li>
                            <li>3. 墙面层基处理</li>
                            <li>4. 墙面顶面乳胶漆</li>
                            <li>5. 地面找平</li>
                            <li>6. 木地板或800*800大地砖</li>
                            <li>7. 地面踢脚线</li>
                            <li>8. 全房开关插座</li>
                            <li>9. 石膏线</li>
                            <li>10. 人工、辅料、耗材</li>
                        </ul>
                    </div>
                </li>
                <li class="deploy-con-list">
                    <img src="../img/pro01.png" alt="">
                    <div class="deploy-con-bg">
                        <ul class="deploy-info">
                            <li>1. 墙面铲除及恢复02</li>
                            <li>2. 入户门套</li>
                            <li>3. 墙面层基处理</li>
                            <li>4. 墙面顶面乳胶漆</li>
                            <li>5. 地面找平</li>
                            <li>6. 木地板或800*800大地砖</li>
                            <li>7. 地面踢脚线</li>
                            <li>8. 全房开关插座</li>
                            <li>9. 石膏线</li>
                            <li>10. 人工、辅料、耗材</li>
                        </ul>
                    </div>
                </li>
                <li class="deploy-con-list">
                    <img src="../img/banner03.png" alt="">
                    <div class="deploy-con-bg">
                        <ul class="deploy-info">
                            <li>1. 墙面铲除及恢复03</li>
                            <li>2. 入户门套</li>
                            <li>3. 墙面层基处理</li>
                            <li>4. 墙面顶面乳胶漆</li>
                            <li>5. 地面找平</li>
                            <li>6. 木地板或800*800大地砖</li>
                            <li>7. 地面踢脚线</li>
                            <li>8. 全房开关插座</li>
                            <li>9. 石膏线</li>
                            <li>10. 人工、辅料、耗材</li>
                        </ul>
                    </div>
                </li>
                <li class="deploy-con-list">
                    <img src="../img/pro01.png" alt="">
                    <div class="deploy-con-bg">
                        <ul class="deploy-info">
                            <li>1. 墙面铲除及恢复04</li>
                            <li>2. 入户门套</li>
                            <li>3. 墙面层基处理</li>
                            <li>4. 墙面顶面乳胶漆</li>
                            <li>5. 地面找平</li>
                            <li>6. 木地板或800*800大地砖</li>
                            <li>7. 地面踢脚线</li>
                            <li>8. 全房开关插座</li>
                            <li>9. 石膏线</li>
                            <li>10. 人工、辅料、耗材</li>
                        </ul>
                    </div>
                </li>
                <li class="deploy-con-list">
                    <img src="../img/banner01.png" alt="">
                    <div class="deploy-con-bg">
                        <ul class="deploy-info">
                            <li>1. 墙面铲除及恢复05</li>
                            <li>2. 入户门套</li>
                            <li>3. 墙面层基处理</li>
                            <li>4. 墙面顶面乳胶漆</li>
                            <li>5. 地面找平</li>
                            <li>6. 木地板或800*800大地砖</li>
                            <li>7. 地面踢脚线</li>
                            <li>8. 全房开关插座</li>
                            <li>9. 石膏线</li>
                            <li>10. 人工、辅料、耗材</li>
                        </ul>
                    </div>
                </li>
                <li class="deploy-con-list">
                    <img src="../img/pro01.png" alt="">
                    <div class="deploy-con-bg">
                        <ul class="deploy-info">
                            <li>1. 墙面铲除及恢复06</li>
                            <li>2. 入户门套</li>
                            <li>3. 墙面层基处理</li>
                            <li>4. 墙面顶面乳胶漆</li>
                            <li>5. 地面找平</li>
                            <li>6. 木地板或800*800大地砖</li>
                            <li>7. 地面踢脚线</li>
                            <li>8. 全房开关插座</li>
                            <li>9. 石膏线</li>
                            <li>10. 人工、辅料、耗材</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="deploy-tab-box">
                <div class="deploy-tab">
                    <div class="tab-con">
                        <h3>
                            <img src="../img/protitle.png" alt="">
                        </h3>
                        <p>省时省力省钱的家装模式，符合现代人更高的个性化需求。</p>
                        <ul class="tab-show">
                            <li class="tab-lists cur">客厅</li>
                            <li class="tab-lists">餐厅</li>
                            <li class="tab-lists">厨房</li>
                            <li class="tab-lists">卧室</li>
                            <li class="tab-lists">卫生间</li>
                            <li class="tab-lists">阳台</li>
                        </ul>
                        <h4>全屋标配+个性定制</h4>
                        <h4>全房家具+全房家电</h4>
                    </div>
                    <div class="btn-group1">
                        <a href="#" class="buttons fl">720°全景体验</a>
                        <span data-layer="6" class="buttons show-btn sub-btn2 fr">预约参观</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 空間配置 end -->
    <!-- 全球集采·精选品牌 begin -->
    <div class="collect">
        <div class="collect-con">
            <h2 class="titles wow bounceInDown" data-wow-delay="0.5s" data-wow-duration="1s">全球集采·精选品牌</h2>
            <p class="title-b wow bounceInDown" data-wow-delay="0.4s" data-wow-duration="1s">以环保健康为基准，精选国内外一线品牌</p>
            <ul class="collect-show">
                <li class="collect-product  wow bounceInLeft"  data-wow-delay="0.5s" data-wow-duration="1s">
                    <div class="c-img-box">
                        <img src="../img/prod01.png" alt="">
                    </div>
                    <div class="c-img-box">
                        <img src="../img/pro-logo9.png" alt="">
                    </div>
                    <div class="c-img-box">
                        <img src="../img/prod01.png" alt="">
                    </div>
                    <div class="c-img-box">
                        <img src="../img/pro-logo9.png" alt="">
                    </div>
                    <div class="c-img-box">
                        <img src="../img/prod01.png" alt="">
                    </div>
                    <div class="c-img-box">
                        <img src="../img/pro-logo9.png" alt="">
                    </div>
                    <div class="c-img-box">
                        <img src="../img/prod01.png" alt="">
                    </div>
                    <div class="c-img-box">
                        <img src="../img/prod01.png" alt="">
                    </div>
                    <div class="c-img-box">
                        <img src="../img/pro-logo9.png" alt="">
                    </div>
                    <div class="c-img-box">
                        <img src="../img/pro-logo9.png" alt="">
                    </div>
                </li>
                <li class="collect-show-rt  wow bounceInRight"   data-wow-delay="0.5s" data-wow-duration="1s">
                    <ul class="product-depict">
                        <li class="product-depict-list">
                            <h5>科勒·卡诺克双把手墙出水脸盆龙头</h5>
                            <p>精铸黄铜材质，玫瑰形出水嘴，进口陶瓷阀芯，搭配铂克维2083T-0 铸铁台盆。卓尔不群的优雅设计，低调沉稳却无法被忽视。精铸黄铜材质，牢固耐用，时光流转，仍旧彰显潇洒气韵。</p>
                        </li>
                        <li class="product-depict-list">
                            <h5>科勒·卡诺克双把手墙出水脸盆龙头02</h5>
                            <p>精铸黄铜材质，玫瑰形出水嘴，进口陶瓷阀芯，搭配铂克维2083T-0 铸铁台盆。卓尔不群的优雅设计，低调沉稳却无法被忽视。精铸黄铜材质，牢固耐用，时光流转，仍旧彰显潇洒气韵。</p>
                        </li>
                        <li class="product-depict-list">
                            <h5>科勒·卡诺克双把手墙出水脸盆龙头03</h5>
                            <p>精铸黄铜材质，玫瑰形出水嘴，进口陶瓷阀芯，搭配铂克维2083T-0 铸铁台盆。卓尔不群的优雅设计，低调沉稳却无法被忽视。精铸黄铜材质，牢固耐用，时光流转，仍旧彰显潇洒气韵。</p>
                        </li>
                        <li class="product-depict-list">
                            <h5>科勒·卡诺克双把手墙出水脸盆龙头04</h5>
                            <p>精铸黄铜材质，玫瑰形出水嘴，进口陶瓷阀芯，搭配铂克维2083T-0 铸铁台盆。卓尔不群的优雅设计，低调沉稳却无法被忽视。精铸黄铜材质，牢固耐用，时光流转，仍旧彰显潇洒气韵。</p>
                        </li>
                        <li class="product-depict-list">
                            <h5>科勒·卡诺克双把手墙出水脸盆龙头05</h5>
                            <p>精铸黄铜材质，玫瑰形出水嘴，进口陶瓷阀芯，搭配铂克维2083T-0 铸铁台盆。卓尔不群的优雅设计，低调沉稳却无法被忽视。精铸黄铜材质，牢固耐用，时光流转，仍旧彰显潇洒气韵。</p>
                        </li>
                        <li class="product-depict-list">
                            <h5>科勒·卡诺克双把手墙出水脸盆龙头06</h5>
                            <p>精铸黄铜材质，玫瑰形出水嘴，进口陶瓷阀芯，搭配铂克维2083T-0 铸铁台盆。卓尔不群的优雅设计，低调沉稳却无法被忽视。精铸黄铜材质，牢固耐用，时光流转，仍旧彰显潇洒气韵。</p>
                        </li>
                        <li class="product-depict-list">
                            <h5>科勒·卡诺克双把手墙出水脸盆龙头07</h5>
                            <p>精铸黄铜材质，玫瑰形出水嘴，进口陶瓷阀芯，搭配铂克维2083T-0 铸铁台盆。卓尔不群的优雅设计，低调沉稳却无法被忽视。精铸黄铜材质，牢固耐用，时光流转，仍旧彰显潇洒气韵。</p>
                        </li>
                        <li class="product-depict-list">
                            <h5>科勒·卡诺克双把手墙出水脸盆龙头08</h5>
                            <p>精铸黄铜材质，玫瑰形出水嘴，进口陶瓷阀芯，搭配铂克维2083T-0 铸铁台盆。卓尔不群的优雅设计，低调沉稳却无法被忽视。精铸黄铜材质，牢固耐用，时光流转，仍旧彰显潇洒气韵。</p>
                        </li>
                        <li class="product-depict-list">
                            <h5>科勒·卡诺克双把手墙出水脸盆龙头09</h5>
                            <p>精铸黄铜材质，玫瑰形出水嘴，进口陶瓷阀芯，搭配铂克维2083T-0 铸铁台盆。卓尔不群的优雅设计，低调沉稳却无法被忽视。精铸黄铜材质，牢固耐用，时光流转，仍旧彰显潇洒气韵。</p>
                        </li>
                        <li class="product-depict-list">
                            <h5>科勒·卡诺克双把手墙出水脸盆龙头10</h5>
                            <p>精铸黄铜材质，玫瑰形出水嘴，进口陶瓷阀芯，搭配铂克维2083T-0 铸铁台盆。卓尔不群的优雅设计，低调沉稳却无法被忽视。精铸黄铜材质，牢固耐用，时光流转，仍旧彰显潇洒气韵。</p>
                        </li>
                    </ul>
                    <ul class="pro-logo-show">
                        <li class="pro-logo-list logo-list1 logo-hover">
                            <img src="../img/pro-logo01.png" alt="" class="logo-show hide">
                            <img src="../img/pro-logo1.png" alt="" class="logo-hide show">
                        </li>
                        <li class="pro-logo-list logo-list2">
                            <img src="../img/pro-logo02.png" alt="" class="logo-show">
                            <img src="../img/pro-logo2.png" alt="" class="logo-hide">
                        </li>
                        <li class="pro-logo-list logo-list3">
                            <img src="../img/pro-logo03.png" alt="" class="logo-show">
                            <img src="../img/pro-logo3.png" alt="" class="logo-hide">
                        </li>
                        <li class="pro-logo-list logo-list4">
                            <img src="../img/pro-logo04.png" alt="" class="logo-show">
                            <img src="../img/pro-logo4.png" alt="" class="logo-hide">
                        </li>
                        <li class="pro-logo-list logo-list5">
                            <img src="../img/pro-logo05.png" alt="" class="logo-show">
                            <img src="../img/pro-logo5.png" alt="" class="logo-hide">
                        </li>
                        <li class="pro-logo-list logo-list6">
                            <img src="../img/pro-logo06.png" alt="" class="logo-show">
                            <img src="../img/pro-logo6.png" alt="" class="logo-hide">
                        </li>
                        <li class="pro-logo-list logo-list7">
                            <img src="../img/pro-logo07.png" alt="" class="logo-show">
                            <img src="../img/pro-logo7.png" alt="" class="logo-hide">
                        </li>
                        <li class="pro-logo-list logo-list8">
                            <img src="../img/pro-logo08.png" alt="" class="logo-show">
                            <img src="../img/pro-logo8.png" alt="" class="logo-hide">
                        </li>
                        <li class="pro-logo-list logo-list9">
                            <img src="../img/pro-logo09.png" alt="" class="logo-show">
                            <img src="../img/pro-logo9.png" alt="" class="logo-hide">
                        </li>
                        <li class="pro-logo-list logo-list10">
                            <img src="../img/pro-logo10.png" alt="" class="logo-show">
                            <img src="../img/pro-logo110.png" alt="" class="logo-hide">
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- 全球集采·精选品牌 end -->
    <!-- 德系工艺begin -->
    <div class="process">
        <h2 class="titles wow bounceInDown" data-wow-delay="0.5s" data-wow-duration="1s">德系工艺</h2>
        <p class="title-b wow bounceInDown" data-wow-delay="0.4s" data-wow-duration="1s">可视化施工标准，12大工艺品质保障</p>
        <div class="process-show  wow bounceInUp"  data-wow-delay="0.4s" data-wow-duration="1s">
            <ul class="process-con">
                <li class="process-list">
                    <h4>管道热熔连接工艺</h4>
                    <p>专用设备，精确控温、控时，避免高温变形及低温融合度不够，形成完全封闭环境，保证水质。</p>
                </li>
                <li class="process-list">
                    <h4>墙面防潮抗霉工艺</h4>
                    <p>专用环保界面剂，增加墙面粘合度，，避免墙面发潮后出现的掉粉、开裂、起皮、脱壳等现象。</p>
                </li>
                <li class="process-list">
                    <h4>地面固化防尘工艺</h4>
                    <p>专用环保地固，无铝架，无腐蚀性，封闭松散水泥基层，固化地面，增强面饰材料的结合能力。</p>
                </li>
                <li class="process-list">
                    <h4>轻钢龙骨施工工艺</h4>
                    <p>专用轻钢龙骨，采用专用连接件，科学的龙骨大小和间隔，杜绝吊顶变形、开裂、虫蛀等现象。</p>
                </li>
                <li class="process-list">
                    <h4>门套"套压石"工艺</h4>
                    <p>门槛，门套及门套线均安装在大理石门槛上，以隔离木门套与地面潮气，避免受潮腐烂变形。</p>
                </li>
                <li class="process-list">
                    <h4>防水工艺</h4>
                    <p>全方位立体涂刷，专用防水材料保护地面，管道孔位、阴阳角等细部处理，达到透气不透水。</p>
                </li>
                <li class="process-list">
                    <h4>地漏"砖套砖"工艺</h4>
                    <p>交换空间的地漏工艺是采用“砖套砖”工艺，不但确保排水流畅，而且安装后美观大方。</p>
                </li>
                <li class="process-list">
                    <h4>石膏板吊顶L型工艺</h4>
                    <p>交换空间石膏板吊顶转角处使用L型工艺，防止石膏板转角处开裂，减少后期维修成本。</p>
                </li>
                <li class="process-list">
                    <h4>镜前灯"鹰嘴"工艺</h4>
                    <p>交换空间采用特色镜前灯“鹰嘴”工艺，便于施工过程中穿线和检修，安装时确保安全。</p>
                </li>
                <li class="process-list">
                    <h4>阴阳角护角工艺</h4>
                    <p>专用阴阳角线条，彻底解决乳胶漆小弯曲问题，增强了阳角的防碰撞力及阴阳角的美观度。</p>
                </li>
                <li class="process-list">
                    <h4>墙体基层生态处理</h4>
                    <p>交换空间专用环保改性腻子膏进行批刮，调整墙体的平整度、清洁度和湿润度，确保墙面品质。</p>
                </li>
                <li class="process-list">
                    <h4>WAGO接线端子</h4>
                    <p>使用德国WAGO连接器，信号强，安装、测试、检修方便，工作效率高，原装进口，品质稳定。</p>
                </li>
            </ul>
            <img src="../img/line1200.png" alt="" class="lineimg line-top">
            <img src="../img/line1200.png" alt="" class="lineimg line-btm">
            <img src="../img/line444.png" alt="" class="line-lt">
            <img src="../img/line444.png" alt="" class="line-ct">
            <img src="../img/line444.png" alt="" class="line-rt">
        </div>
    </div>
    <!-- 完工案例 -->
    <div class="finish-case">
        <div class="case-group">
            <h2 class="titles wow bounceInDown" data-wow-delay="0.5s" data-wow-duration="1s">完工案例</h2>
            <p class="title-b wow bounceInDown" data-wow-delay="0.4s" data-wow-duration="1s">记录最真实的装修现场 全程透明</p>
            <ul class="finish-case-show">
                <li class="case-show-list wow bounceInRight" data-wow-delay="0.5s" data-wow-duration="1s">
                    <div class="case-img-box">
                        <img src="../img/proimg_01.png" alt="">
                        <div class="sh-box">
                            <a href="#" class="casebtn">720°全景</a><span data-layer="7" class="casebtn show-btn form-btn1">预约参观</span>
                            <p class="address-show"><img src="../img/address01.png" alt=""><span>花溪碧桂园</span></p>
                        </div>
                    </div>
                    <p class="info-show">陈先生的家（188㎡）</p>
                </li>
                <li class="case-show-list wow bounceInRight" data-wow-delay="0.75s" data-wow-duration="1s">
                    <div class="case-img-box">
                        <img src="../img/proimg_01.png" alt="">
                        <div class="sh-box">
                            <a href="#" class="casebtn">720°全景</a><span data-layer="7" class="casebtn show-btn form-btn1">预约参观</span>
                            <p class="address-show"><img src="../img/address01.png" alt=""><span>岱山·齐修北苑</span></p>
                        </div>
                    </div>
                    <p class="info-show">莫先生的家（158㎡）</p>
                </li>
                <li class="case-show-list wow bounceInRight" data-wow-delay="1s" data-wow-duration="1s">
                    <div class="case-img-box">
                        <img src="../img/proimg_01.png" alt="">
                        <div class="sh-box">
                            <a href="#" class="casebtn">720°全景</a><span data-layer="7" class="casebtn show-btn form-btn1">预约参观</span>
                            <p class="address-show"><img src="../img/address01.png" alt=""><span>骏景华庭(铺岗街)</span></p>
                        </div>
                    </div>
                    <p class="info-show">覃女士的家（200㎡）</p>
                </li>
            </ul>
        </div>
    </div>
    <!-- 完工案例 end -->
    <!-- 售后保障 -->
    <div class="security">
        <div class="security-con">
            <h2 class="titles wow bounceInDown" data-wow-delay="0.5s" data-wow-duration="1s">售后保障</h2>
        <p class="title-b wow bounceInDown" data-wow-delay="0.4s" data-wow-duration="1s">CCTV央视合作，毋庸置疑的品牌实力、品质体验</p>
        <div  class="secur-show">
            <ul class="secur-lsit wow bounceInLeft" data-wow-delay="0.5s" data-wow-duration="1s">
                <li>
                    <div class="server-icon"><img src="../img/pro_icon01.png" alt=""></div>
                    <div class="secur-info">
                        <h4>所见即所得</h4>
                        <p>线下体验亲身感受，效果图99%实景还原</p>
                    </div>
                </li>
                <li>
                    <div class="server-icon"><img src="../img/pro_icon02.png" alt=""></div>
                    <div class="secur-info">
                        <h4>0增项，慢必赔</h4>
                        <p>合同价就是结算价，工期超时慢必赔</p>
                    </div>
                </li>
            </ul>
            <img src="../img/line456.png" alt="" class="wow bounceInUp" data-wow-delay="0.5s" data-wow-duration="1s">
            <ul class="secur-lsit wow bounceInRight" data-wow-delay="0.5s" data-wow-duration="1s">
                <li>
                    <div class="server-icon"><img src="../img/pro_icon03.png" alt=""></div>
                    <div class="secur-info">
                        <h4>多对一服务</h4>
                        <p>从预约到交房，全程多对一VIP服务</p>
                    </div>
                </li>
                <li>
                    <div class="server-icon"><img src="../img/pro_icon04.png" alt=""></div>
                    <div class="secur-info">
                        <h4>50年+终生售后</h4>
                        <p>50年隐藏工程质保 ，终生售后基础装修质保</p>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </div>
    <!--  -->
    <!-- 底部展示begin -->
    <div class="foot-container">
            <div class="foot-info">
                <div class="bot-left">
                    <h3>
                        <a href="/index.html">
                            <img src="../img/logo.png" alt="">
                        </a>
                    </h3>
                    <p>
                        <img src="../img/logo_bot.png" alt="">
                    </p>
                </div>
                <div class="hot-line">
                    <p>
                        <img src="/img/tel.png" alt="">
                        <span>
                            官方服务热线：
                            <br/>
                            <i>0851-86839697</i>
                        </span>
                    </p>
                    <p>
                        <img src="../img/service.png" alt="">
                        <span>
                            贵阳交换空间装饰工程有限公司
                            <br/>
                            <em>服务时间：9:00-22:00</em>
                        </span>
                    </p>
                </div>
                <div class="code-con">
                    <img src="../img/code.png" alt="">
                    <p>扫码关注微信公众号</p>
                </div>
            </div>
    </div>
    
    <div class="footer">
            <p class="bot-nav">
                <a href="/about/index.html">装修资讯</a>|<a href="/quote/index.html">智能报价</a>|<a href="/design/index.html">量房设计</a>|<a href="/case/index.html">实景体验馆</a>|<a href="/product/index.html">定制整装</a>|<a href="javascript:;">商务合作</a>|<a href="javascript:;">投诉建议</a>
            </p>
            <p>Copyright All Rights Reserved.&nbsp&nbsp贵阳交换空间装饰工程有限公司&nbsp&nbsp版权所有&nbsp&nbsp
                <script src="https://s13.cnzz.com/z_stat.php?id=1273005258&web_id=1273005258" language="JavaScript"></script>&nbsp&nbsp
                <span>公司地址：贵州省贵阳市云岩区兴中元大厦3-4层</span><br/>
                <a href="http://www.miitbeian.gov.cn/" target="_blank">黔ICP备18002532号</a>
            </p>
        </div>
    <!-- 表单 -->
    <div class="form-wrap">
        <div class="form-content">
            <div class="form-titles">
                <h3>预约参观</h3>
                <p>预约参观家装新风尚 品质生活触手可得</p>
            </div>
            <form class="form-view" id="form6" name='feedback' method='post' enctype='multipart/form-data' action='<?=url('index/index')?>'>
                <input type=hidden name=ecmsfrom value="/">
                <input name='enews' type='hidden' value='AddFeedback'>
                <input name='title' class="position-con" type='hidden'>
                <input type=hidden name=bid value=2>
                <input type=hidden name=laiyuan id=laiyuan>
                <input type=hidden name=chuangyi id=chuangyi>
                <label class="inputbox">
                    <span class="input-info">您的称呼</span>
                    <input type="text" name="name" class="nickname input" id="name" placeholder="请输入您的称呼" />
                </label>
                <label class="inputbox">
                    <span class="input-info">您的电话</span>
                    <input type="number" name="mycall" class="phone input" id="mycall" placeholder="请输入您的手机号码，获取免费服务" />
                </label>
                <input type="submit" class="subtn1" value="立即预约" />
            </form>
            <div class="close closebtn"></div>
        </div>
    </div>
    <div class="float-box">
        <div class="form-fixed">
            <ul>
                <li class="f-lt">
                    <img src="../img/hand.png" alt="">
                </li>
                <li class="f-title">
                    <h3>现在预约</h3>
                    <p>免费获取全房装修设计效果图</p>
                </li>
                <li class="f-form">
                    <form class="form" id="form10" name='feedback' method='post' enctype='multipart/form-data' action="<?=url('index/index')?>">
                        <input type=hidden name=ecmsfrom value="/">
                        <input name='enews' type='hidden' value='AddFeedback'>
                        <input name='title' type='hidden' value='底部固定预约'>
                        <input type=hidden name=bid value=2>
                        <input type=hidden name=laiyuan id=laiyuan>
                        <input type=hidden name=chuangyi id=chuangyi>
                        <input type="text" name="name" class="nickname" id="name" placeholder="请输入您的称呼" />
                        <input type="number" name="mycall" class="phone" id="mycall" placeholder="请输入您的手机号码" />
                        <input type="submit" class="subtn" value="立即预约" />
                    </form>
                </li>
                <li class="colsebtn">
                    <img src="../img/colse01.png" alt="">
                </li>
            </ul>
        </div>
    </div>
     <!-- 侧边栏导航 -->
     <div class="slidebar">
        <ul>
            <li class="slidebar-list">
                <a href="javascript:;">
                    <div><img src="../img/icon-tel.png" alt=""></div>
                    <p>在线咨询</p>
                </a>
            </li>
            <li class="slidebar-list bt show-btn" data-layer="10">
                <div><img src="../img/icon-order.png" alt=""></div>
                <p>预约参观</p>
            </li>
            <li class="slidebar-list bt">
                <a href="/quote/index.html">
                    <div><img src="../img/icon-quote.png" alt=""></div>
                    <p>免费报价</p>
                </a>
            </li>
            <li class="slidebar-list bt code-hover">
                <div><img src="../img/icon-code.png" alt=""></div>
                <p>关注微信</p>
            </li>
            <li class="slidebar-list bt to-top">
                <div><img src="../img/icon-top.png" alt=""></div>
                <p>返回顶部</p>
            </li>
        </ul>
        <div class="code">
            <img src="../img/code.png" alt="">
        </div>
    </div>
    <script src="__PUBLIC__/home/js/jquery.js"></script>
    <script src="__PUBLIC__/home/js/swiper.js"></script>
    <script src="__PUBLIC__/home/js/wow.min.js"></script>
    <script src="__PUBLIC__/home/js/fdx.js"></script>
    <script src="__PUBLIC__/home/js/index.js"></script>
    <script src="__PUBLIC__/home/js/form.js"></script>
</body>

</html>