<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>交换空间_案例详情</title>
    <meta name="keywords" content="贵阳交换空间装修公司 新房装修 装修效果图">
    <meta name="description" content="贵阳交换空间装饰CCTV合作中国装修设计第一品牌！咨询电话：0851-8683 9697">
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="__PUBLIC__/home/css/swiper.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/common.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/quote.css">
</head>

<body>
    <!-- 头部 begin -->
    <div class="header">
        <div class="head-group">
            <div class="logo">
                <a href="/index.html">
                    <img src="../img/logo.png" alt="logo">
                </a>
            </div>
            <ul class="navs">
                <li class="navlist">
                    <a href="<?=url('index/index')?>">首页</a>
                </li>
                <li class="navlist">
                    <a href="<?=url('index/product')?>">定制整装</a>
                </li>
                <li class="navlist">
                    <a href="<?=url('index/design')?>">量房设计</a>
                </li>
                <li class="navlist cur">
                    <a href="<?=url('index/quote')?>">智能报价</a>
                </li>
                <li class="navlist">
                    <a href="<?=url('index/demo')?>">实景样板间</a>
                </li>
                <li class="navlist">
                    <a href="<?=url('index/about')?>">装修资讯</a>
                </li>
            </ul>
            <div class="tel-group">
                <img src="../img/icon_tel.png" alt="">
                <span>0851-8683 9697</span>
            </div>
        </div>
    </div>
    <!-- 头部end -->
    <div class="quote">
        <div class="quote-group">
            <h3>
                <img src="../img/quote01.png" alt="">
            </h3>
            <p>
                <span>*</span>权威数字显示，95%的业主在装修中容易价格超支...
                <br/>3秒钟获取个性化的装修价格清单，轻松避开后期增强陷阱</p>
            <div class="quote-con">
                <div class="quote-top">
                    <form class="form-quote" name='feedback' method='post' enctype='multipart/form-data' action="<?=url('index/index')?>">
                        <h3 class="form-title">
                            <span>装修计算器</span>
                            <i>今日已有
                                <em>312</em> 位业主获取了装修价格</i>
                        </h3>
                        <input type=hidden name=ecmsfrom value="/ ">
                        <input name='enews' type='hidden' value='AddFeedback'>
                        <input name='title' type='hidden' value='实景案例预约'>
                        <input type=hidden name=bid value=2>
                        <input type=hidden name=laiyuan id=laiyuan>
                        <input type=hidden name=chuangyi id=chuangyi>
                        <label>
                            <span>房屋面积：</span>
                            <i>*</i>
                            <input type="number" name="mianji" class="area input" placeholder="请输入您的房屋面积">
                            <em class="unit">㎡</em>
                        </label>
                        <label>
                            <span>所在小区：</span>
                            <i>*</i>
                            <input type="text" name="addrees" class="user-address input" placeholder="请输入您的小区">
                        </label>
                        <label>
                            <span class="lx-title">房屋类型：</span>
                            <i>*</i>
                            <input type="radio" name="leixing" checked>
                            <em class="lx-type">新房</em>
                            <input type="radio" name="leixing">
                            <em class="lx-type">二手房</em>
                        </label>
                        <label>
                            <span>装修风格：</span>
                            <i>*</i>
                            <select>
                                <option value="1" selected>现代时尚</option>
                                <option value="2">北欧尚品</option>
                                <option value="3">简美风格</option>
                                <option value="4">英式轻奢</option>
                                <option value="4">新中式</option>
                                <option value="4">其它定制</option>
                            </select>
                        </label>
                        <label>
                            <span>装修品质：</span>
                            <i>*</i>
                            <select>
                                <option value="1" selected>品质精装</option>
                                <option value="2">经济环保</option>
                                <option value="3">高档奢华</option>
                            </select>
                        </label>
                        <label>
                            <span>手机号码：</span>
                            <i>*</i>
                            <input type="number " name="mycall" class="phone input" id="mycall " placeholder="请输入您的手机号码" />
                        </label>
                        <p class="hint">
                            <i>*</i>报价结果将以短信形式发送至您的手机！</p>
                        <div class="btn-container">
                            <div class="btn-bg"></div>
                            <button type="submit" class="quote-btn">开始
                                <br/>计算</button>
                        </div>
                    </form>
                    <div class="budget">
                        <h3>我家的装修价格
                            <span id="price">0</span> 元</h3>
                        <div class="budget-box">
                            <p>
                                <span class="budget-title">客餐厅
                                    <i class="colon">:</i>
                                </span>
                                <span class="price-show">
                                    <i class="price" id="price1">0</i>
                                    <em class="unit">元</em>
                                </span>
                            </p>
                            <p>
                                <span class="budget-title">卧室
                                    <i class="colon">:</i>
                                </span>
                                <span class="price-show">
                                    <i class="price" id="price2">0</i>
                                    <em class="unit">元</em>
                                </span>
                            </p>
                            <p>
                                <span class="budget-title">厨房
                                    <i class="colon">:</i>
                                </span>
                                <span class="price-show">
                                    <i class="price" id="price3">0</i>
                                    <em class="unit">元</em>
                                </span>
                            </p>
                            <p>
                                <span class="budget-title">卫生间
                                    <i class="colon">:</i>
                                </span>
                                <span class="price-show">
                                    <i class="price" id="price4">0</i>
                                    <em class="unit">元</em>
                                </span>
                            </p>
                            <p>
                                <span class="budget-title">阳台
                                    <i class="colon">:</i>
                                </span>
                                <span class="price-show">
                                    <i class="price" id="price5">0</i>
                                    <em class="unit">元</em>
                                </span>
                            </p>
                            <p>
                                <span class="budget-title">其它价格
                                    <i class="colon">:</i>
                                </span>
                                <span class="price-show">
                                    <i class="price" id="price6">0</i>
                                    <em class="unit">元</em>
                                </span>
                            </p>
                        </div>
                        <p class="hints">
                            <span>*</span>我们承诺：为了您的利益以及我们的口碑，您的隐私将被严格保密。</p>
                    </div>
                </div>
                <div class="quote-bot">
                    <h3>今日已有
                        <span class="counts">312</span>人成功获取装修价格</h3>
                    <div class="swiper-container msg-show" id="swiper-container1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="msgbox">
                                    <em>1分钟前</em>&nbsp&nbsp&nbsp
                                    <span>182****8551</span>&nbsp&nbsp&nbsp
                                    <i>刚刚获取了装修价格</i>
                                </div>
                                <div class="msgbox">
                                    <em>3分钟前</em>&nbsp&nbsp&nbsp
                                    <span>180****5623</span>&nbsp&nbsp&nbsp
                                    <i>刚刚获取了装修价格</i>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="msgbox">
                                    <em>3分钟前</em>&nbsp&nbsp&nbsp
                                    <span>176****268</span>&nbsp&nbsp&nbsp
                                    <i>刚刚获取了装修价格</i>
                                </div>
                                <div class="msgbox">
                                    <em>4分钟前</em>&nbsp&nbsp&nbsp
                                    <span>135****7240</span>&nbsp&nbsp&nbsp
                                    <i>刚刚获取了装修价格</i>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="msgbox">
                                    <em>5分钟前</em>&nbsp&nbsp&nbsp
                                    <span>137****9119</span>&nbsp&nbsp&nbsp
                                    <i>刚刚获取了装修价格</i>
                                </div>
                                <div class="msgbox">
                                    <em>6分钟前</em>&nbsp&nbsp&nbsp
                                    <span>153****6645</span>&nbsp&nbsp&nbsp
                                    <i>刚刚获取了装修价格</i>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="msgbox">
                                    <em>8分钟前</em>&nbsp&nbsp&nbsp
                                    <span>132****3036</span>&nbsp&nbsp&nbsp
                                    <i>刚刚获取了装修价格</i>
                                </div>
                                <div class="msgbox">
                                    <em>8分钟前</em>&nbsp&nbsp&nbsp
                                    <span>159****2278</span>&nbsp&nbsp&nbsp
                                    <i>刚刚获取了装修价格</i>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="msgbox">
                                    <em>12分钟前</em>&nbsp&nbsp&nbsp
                                    <span>137****1652</span>&nbsp&nbsp&nbsp
                                    <i>刚刚获取了装修价格</i>
                                </div>
                                <div class="msgbox">
                                    <em>15分钟前</em>&nbsp&nbsp&nbsp
                                    <span>183****6892</span>&nbsp&nbsp&nbsp
                                    <i>刚刚获取了装修价格</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部展示begin -->
    <div class="foot-container">
        <div class="foot-info">
            <div class="bot-left">
                <h3>
                    <a href="/index.html">
                        <img src="../img/logo.png" alt="">
                    </a>
                </h3>
                <p>
                    <img src="../img/logo_bot.png" alt="">
                </p>
            </div>
            <div class="hot-line">
                <p>
                    <img src="../img/tel.png" alt="">
                    <span>
                        官方服务热线：
                        <br/>
                        <i>0851-86839697</i>
                    </span>
                </p>
                <p>
                    <img src="../img/service.png" alt="">
                    <span>
                        贵阳交换空间装饰工程有限公司
                        <br/>
                        <em>服务时间：9:00-22:00</em>
                    </span>
                </p>
            </div>
            <div class="code-con">
                <img src="../img/code.png" alt="">
                <p>扫码关注微信公众号</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <p class="bot-nav">
            <a href="/about/index.html">装修资讯</a>|
            <a href="/quote/index.html">智能报价</a>|
            <a href="/design/index.html">量房设计</a>|
            <a href="/case/index.html">实景体验馆</a>|
            <a href="/product/index.html">定制整装</a>|
            <a href="javascript:;">商务合作</a>|
            <a href="javascript:;">投诉建议</a>
        </p>
        <p>Copyright All Rights Reserved.&nbsp&nbsp贵阳交换空间装饰工程有限公司&nbsp&nbsp版权所有&nbsp&nbsp
            <script src="https://s13.cnzz.com/z_stat.php?id=1273005258&web_id=1273005258" language="JavaScript"></script>&nbsp&nbsp
            <span>公司地址：贵州省贵阳市云岩区兴中元大厦3-4层</span>
            <br/>
            <a href="http://www.miitbeian.gov.cn/" target="_blank">黔ICP备18002532号</a>
        </p>
    </div>
    <!-- 表单 -->
    <div class="float-box">
        <div class="form-fixed">
            <ul>
                <li class="f-lt">
                    <img src="../img/hand.png" alt="">
                </li>
                <li class="f-title">
                    <h3>现在预约</h3>
                    <p>免费获取全房装修设计效果图</p>
                </li>
                <li class="f-form">
                    <form class="form" name='feedback' method='post' enctype='multipart/form-data' action="<?=url('index/index')?>">
                        <input type=hidden name=ecmsfrom value="/">
                        <input name='enews' type='hidden' value='AddFeedback'>
                        <input name='title' type='hidden' value='底部固定预约'>
                        <input type=hidden name=bid value=2>
                        <input type=hidden name=laiyuan id=laiyuan>
                        <input type=hidden name=chuangyi id=chuangyi>
                        <input type="text" name="name" class="nickname" id="name" placeholder="请输入您的称呼" />
                        <input type="number" name="mycall" class="phone" id="mycall" placeholder="请输入您的手机号码" />
                        <input type="submit" class="subtn" value="立即预约" />
                    </form>
                </li>
                <li class="colsebtn">
                    <img src="../img/colse01.png" alt="">
                </li>
            </ul>
        </div>
    </div>
    <!-- 侧边栏导航 -->
    <div class="slidebar">
        <ul>
            <li class="slidebar-list">
                <a href="javascript:;">
                    <div>
                        <img src="../img/icon-tel.png" alt="">
                    </div>
                    <p>在线咨询</p>
                </a>
            </li>
            <li class="slidebar-list bt show-btn" data-layer="10">
                <div>
                    <img src="../img/icon-order.png" alt="">
                </div>
                <p>预约参观</p>
            </li>
            <li class="slidebar-list bt">
                <a href="/quote/index.html">
                    <div>
                        <img src="../img/icon-quote.png" alt="">
                    </div>
                    <p>免费报价</p>
                </a>
            </li>
            <li class="slidebar-list bt code-hover">
                <div>
                    <img src="../img/icon-code.png" alt="">
                </div>
                <p>关注微信</p>
            </li>
            <li class="slidebar-list bt to-top">
                <div>
                    <img src="../img/icon-top.png" alt="">
                </div>
                <p>返回顶部</p>
            </li>
        </ul>
        <div class="code">
            <img src="../img/code.png" alt="">
        </div>
    </div>
    <script src="__PUBLIC__/home/js/jquery.js "></script>
    <script src="__PUBLIC__/home/js/swiper.js"></script>
    <script src="__PUBLIC__/home/js/wow.min.js "></script>
    <script src="__PUBLIC__/home/js/fdx.js "></script>
    <script src="__PUBLIC__/home/js/index.js "></script>
    <script src="__PUBLIC__/home/js/quote.js"></script>
    <script src="__PUBLIC__/home/js/form.js"></script>
</body>

</html>