.ztPack .secAdv .list li:hover{
	margin-top:0px;
	
}
.ztPack .secAdv .list{
	overflow: initial;
	margin-left:-15px;
}
.ztPack .secAdv .list ul {
	float:right
}
.ztPack .secAdv .list li{
	transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
    height:142px;
    margin:5px 0 20px 15px;
}
 
.ztPack .secLimited li .img {
	background: none;
	border:1px solid #d9d9d9
}
.ztPack .secLimited li.hover .img{
	background: none;
	border:1px solid #df3434 
}
.l-fwlc ul li{
	transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
    margin-top:5px;
}
	

.l-fwlc ul li:hover{
	margin-top:0
}
.l-lycon ul li span{
	display: block;
	overflow: hidden;
}
.l-lycon ul li img{
	transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
}

.l-lycon ul li:hover img{
	transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    -ms-transform:scale(1.2);
}


.l-dbtow li {
	position: relative;
	height:500px;
	
}
.l-dbtow li span{
	display: block;
	width:524px;
	height:393px;
	background: #cea675;
	position: absolute;
	top:15px;
	left:15px;
	z-index: 1;
}
.l-dbtow li>img{
	z-index: 2;
	position: absolute;
	top:0;
	left:0;
	transition:All 0.4s ease-in-out;
    -webkit-transition:All 0.4s ease-in-out;
    -moz-transition:All 0.4s ease-in-out;
    -o-transition:All 0.4s ease-in-out;
}
.l-dbtow li p{
	margin-top:425px;
}
.l-dbtow li:hover img{
	top:15px;
	left:15px;
}
