{include file="indexs/header" /}
<div class="layui-body">
    <blockquote class="layui-elem-quote">修改设计师</blockquote>
    <div style="padding: 15px;">
        <form class="layui-form layui-form-pane1" action="<?=url('designer/edit')?>?des_id={$design.des_id}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">设计师姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="des_name" value="{$design.des_name}" lay-verify="required|title" placeholder="请输入设计师姓名" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">省份</label>
                <div class="layui-input-inline">
                    <select name="des_p_id" lay-verify="required" lay-filter="des_p_id">
                        <option value="">请选择省份</option>
                        {volist name='prov' id='vo'}
                        <option value="{$vo.p_id}" {if condition="$vo.p_id eq $design.des_p_id"}selected{/if} >{$vo.p_name}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="des_c_id" lay-verify="required" id="des_c_id" lay-filter="des_c_id">
                        <option value="">请选择城市</option>
                        {volist name='city' id='city'}
                        <option value="{$city.c_id}" {if condition="$city.c_id eq $design.des_c_id"}selected{/if} >{$city.c_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">年龄</label>
                <div class="layui-input-inline">
                    <input type="text" name="des_age" value="{$design.des_age}" lay-verify="required|des_age" placeholder="请输入年龄" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">从业经验</label>
                <div class="layui-input-inline">
                    <input type="text" name="des_exp" value="{$design.des_exp}" lay-verify="required|des_exp" placeholder="请输入从业经验" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">头像</label>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="uploadLogo">上传图片</button>
                    <input type="hidden" name="des_img" id="des_img" value="{$design.des_img}"/>
                    <div class="layui-upload-list" style="margin-left: 100px;">
                        <img class="layui-upload-img" src="__PUBLIC__{$design.des_img}" style="height: 100px;width:100px" id="logoPre">
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux" id="tips" style="margin-left: 100px; color:red !important;">备注：图片规格100*100px</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图像alt</label>
                <div class="layui-input-block">
                    <input type="text" name="des_img_alt" value="{$design.des_img_alt}" lay-verify="required|des_img_alt" placeholder="请输入图像alt" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">毕业院校</label>
                <div class="layui-input-block">
                    <input type="text" name="des_guand" value="{$design.des_guand}" lay-verify="required|des_guand" placeholder="请输入毕业院校" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">擅长风格</label>
                <div class="layui-input-block">
                    {volist name="designStyle"  id="style"}
                    <input type="checkbox" {volist name='type_list' id='item'}{if $item eq $style.type_id}checked{/if}{/volist} name="des_tanlent[{$style.type_id}]"  lay-skin="primary" title="{$style.type_name}">
                    {/volist}
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">设计师简介</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入设计师简介" name="des_remarks" class="layui-textarea">{$design.des_remarks}</textarea>
                </div>
            </div>
            <div class="layui-form-item" pane>
                <label class="layui-form-label">是否显示</label>
                <div class="layui-input-block">
                    <input type="radio" name="des_isable" value="1" title="是"  {if condition="1 eq $design.des_isable"}checked{/if}>
                    <input type="radio" name="des_isable" value="2" title="否"  {if condition="2 eq $design.des_isable"}checked{/if} >
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="saveInfo">保存</button>
                    <a class="layui-btn layui-btn-primary" href="<?=url('designer/team')?>">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'laydate','upload','jquery'], function(){
        var form = layui.form
            ,laydate = layui.laydate
            ,upload = layui.upload
            ,$ = layui.jquery;
        //日期
        laydate.render({
            elem: '#date'
        });
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 2){
                    return '至少得2个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });
        form.on('select(des_p_id)', function(data){
            var p_id=data.value;
            $.ajax({
                type: 'POST',
                url: "<?=url('user/getCityName')?>?p_id="+p_id,
                data: {p_id:p_id},
                dataType:  'json',
                success: function(data){
                    var code=data.data;
                    $("#des_c_id").html("<option value=''>请选择城市</option>");
                    $.each(code, function(i, val) {
                        var option1 = $("<option>").val(val.c_id).text(val.c_name);
                        $("#des_c_id").append(option1);
                        form.render('select');
                    });
                    $("#des_c_id").get(0).selectedIndex=0;
                }
            });
        });
        //图片上传
        upload.render({
            elem: '#uploadLogo'
            ,url: '{:url("setinfo/upload")}'
            ,size:120 //限制文件大小，单位 KB
            ,ext: 'jpg|png|gif'
            ,accept: 'images' //限制文件大小，单位 KB
            ,before: function(input){
                loading = layer.load(2, {
                    shade: [0.2,'#000']
                });
            }
            ,done: function(res){
                $('#logoPre').removeAttr('src');
                $('#des_img').val('');
                console.log(res);
                layer.close(loading);
                $('#des_img').val(res.path);
                $('#logoPre').attr('src',"__PUBLIC__"+res.path);
                layer.msg(res.msg, {icon: 1, time: 1000});
            }
            ,error: function(res){
                layer.msg(res.msg, {icon: 2, time: 1000});
            }
        });
    });
</script>
{include file="indexs/footer" /}