{include file="indexs/header" /}
<div class="layui-body">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>专题管理2</legend>
    </fieldset>
    <div class="layui-tab">
        <div class="layui-tab-content">
            <!--省份列表-->
            <div class="layui-tab-item layui-show">
                <div style="margin: 10px">
                    <div class="layui-btn-group">
                        <button class="layui-btn" onclick="addTop()">发布专题2</button>
                    </div>
                    <table class="layui-table" lay-filter="parse-table-demo" style="padding: 10px;text-align: center;border: 1px;solid-color: #28282c">
                        <thead>
                        <tr>
                            <td>编号</td>
                            <td>专题名称</td>
                            <td>发布时间</td>
                            <td>浏览量</td>
                            <td>是否显示</td>
                            <td>操作人</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='topic' id='art'}
                        <tr>
                            <td>{$art.tp_id}</td>
                            <td>{$art.tp_title}</td>
                            <td>{$art.tp_createtime}</td>
                            <td>{$art.tp_view}</td>
                            <td>{$art.tp_isable}</td>
                            <td>{$art.tp_admin}</td>
                            <td>
                                <button class="layui-btn layui-btn-xs" onclick="editTop({$art.tp_id})">编辑</button>
                                <button class="layui-btn layui-btn-danger layui-btn-xs" onclick="delTop({$art.tp_id})" data-type="test2">删除</button>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
                <div id="pages" style="text-align: center"></div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['laypage','layer','jquery'], function(){
        var $ = layui.jquery,
            laypage = layui.laypage;
        laypage.render({
            //自定义每页条数的选择项
            elem: 'pages'
            ,count: {$count}
            ,limit: {$limit}
            ,curr: {$page}
            ,limits: [10, 15, 20]
            ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
            ,jump: function(obj,frist){
                if(!frist){
                    window.location.href="<?=url('topics/topics')?>?page="+obj.curr+"&limit="+obj.limit;
                }
            }
        });
    });
    function delTop(tp_id) {
        layer.confirm('确定删除这个专题？删除后不可恢复！', {
            btn : [ '确定', '取消' ]//按钮
        }, function() {
            window.location.href="<?=url('topics/del')?>?tp_id="+tp_id;
            layer.msg('您已删除该专题', {icon: 1});
        },function(){
            layer.msg('您已取消该操作！',{
                time: 2000
            });
        });
    }
</script>
<script type="text/javascript">
    function addTop(){
        window.location.href='<?=url('topics/add')?>';
    }
    function editTop(tp_id){
        window.location.href='<?=url("topics/edit")?>?tp_id='+ tp_id ;
    }
</script>
{include file="indexs/footer" /}