* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
img {
  border: none;
}
html,
body {
  background: #f5f5f5;
  font: 14px "微软雅黑", Helvetica, STHeiti, Droid Sans Fallback;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-width: 1200px;
  margin: 0 auto;
  position: relative;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #808080;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #808080;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #808080;
  opacity: 1;
}
input::-webkit-input-placeholder {
  color: #808080;
  opacity: 1;
}
input,
select,
button {
  outline: none;
  background: none;
}
a {
  text-decoration: none;
}
em,
i {
  font-style: normal;
}
ul li,
ul ol {
  list-style: none;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select,
button {
  -webkit-appearance: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.ma {
  margin: 0 auto;
}
.ps-r {
  position: relative;
}
.ps-a {
  position: absolute;
}
.ps-auto {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.h-auto {
  height: auto;
  overflow: hidden;
}
.tc {
  text-align: center;
}
.oh {
  overflow: hidden;
}
.flex {
  display: -webkit-flex;
  display: flex;
}
.flex-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-con1 {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.bor-n {
  border: none;
  outline: none;
}
.header {
  width: 100%;
  height: 110px;
  background: #fff;
}
.header .head-group {
  width: 1200px;
  height: 110px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
}
.header .logo {
  width: 292px;
  height: 71px;
  margin-top: 20px;
  overflow: hidden;
}
.header .logo img {
  width: 100%;
}
.header .navs {
  display: -webkit-flex;
  display: flex;
  width: 500px;
  height: 100%;
  flex-direction: row ;
  justify-content: space-between;
  align-items: center;
}
.header .navlist a {
  color: #333;
  font-size: 16px;
}
.header .cur a {
  color: #37A89D;
}
.header .navlist:hover a {
  color: #37A89D;
}
.header .tel-group {
  display: -webkit-flex;
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  align-items: center;
}
.header .tel-group span {
  color: #37A89D;
  margin-left: 10px;
  font-size: 18px;
}
.foot-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #ddd;
}
.foot-info {
  width: 1200px;
  height: 254px;
  padding: 50px 0;
  margin: 0 auto;
}
.foot-info .bot-left {
  display: inline-block;
  width: 300px;
  margin-top: 7px;
  float: left;
}
.foot-info .bot-left p {
  margin-top: 20px;
}
.foot-info .bot-left h5 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-top: 55px;
  font-weight: normal;
}
.foot-info .bot-left h5 img {
  margin-right: 15px;
  float: left;
  margin-top: 5px;
}
.foot-info .bot-left h5 span {
  float: left;
  font-size: 14px;
  color: #666;
}
.foot-info .hot-line {
  display: inline-block;
  width: 400px;
  margin-left: 230px;
}
.foot-info .hot-line p {
  height: auto;
  overflow: hidden;
  margin-top: 10px;
}
.foot-info .hot-line p img {
  display: inline-block;
  float: left;
}
.foot-info .hot-line p span {
  display: inline-block;
  color: #333;
  font-size: 16px;
  margin-left: 15px;
  float: left;
}
.foot-info .hot-line p span i {
  color: #37A89D;
  font-size: 18px;
}
.foot-info .hot-line p span em {
  color: #666;
  font-size: 14px;
}
.foot-info .code-con {
  display: inline-block;
  width: 140px;
  text-align: center;
  float: right;
}
.foot-info .code-con p {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}
.foot-info .code-con img {
  width: 120px;
  height: 120px;
}
.footer {
  width: 100%;
  height: 105px;
  background: #000;
  color: #999;
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  padding: 16px 0;
}
.footer a {
  color: #999;
}
.footer .bot-nav a {
  font-size: 14px;
  color: #999;
  margin-left: 8px;
  margin-right: 8px;
}
.footer .bot-nav a:hover {
  color: #37A89D;
}
.float-box {
  width: 100%;
  height: 90px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 66;
}
.float-box .form-fixed {
  width: 1200px;
  height: 100;
  margin: 0 auto;
  padding: 0 30px;
}
.float-box .f-lt {
  width: 100px;
  height: 36px;
  float: left;
  margin-top: 24px;
}
.float-box .f-lt img {
  animation: movebl3 0.8s linear infinite;
}
.float-box .f-title {
  width: 300px;
  float: left;
  color: #fff;
}
.float-box .f-title h3 {
  font-size: 26px;
  font-weight: normal;
  line-height: 40px;
  margin-top: 15px;
}
.float-box .f-title p {
  font-size: 14px;
}
.float-box .f-form {
  width: 656px;
  float: left;
  margin-left: 30px;
  margin-top: 24px;
}
.float-box .colsebtn {
  width: 19px;
  height: 18px;
  float: right;
  cursor: pointer;
  margin-top: 24px;
}
.float-box .nickname {
  width: 182px;
  height: 42px;
  background: #fff;
  border: none;
  outline: none;
  padding-left: 15px;
}
.float-box .phone {
  width: 292px;
  height: 42px;
  background: #fff;
  border: none;
  outline: none;
  padding-left: 15px;
  margin-left: 5px;
  margin-right: 5px;
}
.float-box .subtn {
  width: 162px;
  height: 42px;
  color: #fff;
  background: #37A89D;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}
.float-box .subtn:hover {
  background: #2e958b;
}
@keyframes movebl3 {
  0% {
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    /* Internet Explorer */
    -moz-transform: translate(0, 0);
    /* Firefox */
    -webkit-transform: translate(0, 0);
    /* Safari 和 Chrome */
    -o-transform: translate(0, 0);
    /* Opera */
  }
  50% {
    transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    /* Internet Explorer */
    -moz-transform: translate(10px, 0);
    /* Firefox */
    -webkit-transform: translate(10px, 0);
    /* Safari 和 Chrome */
    -o-transform: translate(10px, 0);
    /* Opera */
  }
  0% {
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    /* Internet Explorer */
    -moz-transform: translate(0, 0);
    /* Firefox */
    -webkit-transform: translate(0, 0);
    /* Safari 和 Chrome */
    -o-transform: translate(0, 0);
    /* Opera */
  }
}
.slidebar {
  width: 100px;
  height: 318px;
  position: fixed;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 660;
  text-align: center;
}
.slidebar ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  background: rgba(75, 218, 204, 0.3);
}
.slidebar-list {
  width: 100%;
  height: 62px;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 0;
  cursor: pointer;
  color: #fff;
}
.slidebar-list a {
  color: #fff;
}
.bt {
  margin-top: 2px;
}
.slidebar-list:hover {
  background: rgba(55, 168, 157, 0.5);
}
.code {
  width: 130px;
  height: 120px;
  position: absolute;
  left: -130px;
  bottom: 36px;
  overflow: hidden;
}
.code img {
  width: 120px;
  position: absolute;
  left: 130px;
  top: 0;
}
.case-list-ban {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.case-list-ban img {
  width: 100%;
}
.case-details {
  width: 1200px;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}
.details-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 60px;
}
.details-title a {
  color: #333;
}
.details-title a:hover {
  color: #37A89D;
}
.details-show {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.details-show-lt {
  width: 900px;
  height: auto;
  overflow: hidden;
  padding: 24px;
  background: #fff;
}
.details-show-rt {
  width: 280px;
  height: auto;
  overflow: hidden;
}
.design-infos {
  width: 100%;
  height: 440px;
  background: #fff;
  padding: 20px;
}
.infos-top {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.avatar {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}
.design-infor {
  margin-left: 20px;
  font-size: 16px;
  color: #666;
}
.design-infor i {
  font-size: 18px;
  color: #333;
  line-height: 30px;
}
.works {
  margin-top: 20px;
}
.works p {
  font-size: 14px;
  color: #666;
  line-height: 26px;
  margin-top: 10px;
}
.works p span {
  color: #333;
  font-size: 16px;
}
.works p:last-of-type {
  margin-top: 20px;
}
.oder-group {
  width: 100%;
  height: 380px;
  background: #fff;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  position: relative;
}
.oder-group .hot {
  position: absolute;
  left: 0;
  top: 0;
}
.oder-group h3 {
  font-size: 20px;
  color: #333;
}
.oder-group .form-rt .input {
  width: 100%;
  height: 36px;
  border: 1px solid #ddd;
  padding-left: 15px;
  margin-top: 15px;
}
.oder-group .subtn2 {
  width: 100%;
  height: 36px;
  background: #37A89D;
  border: none;
  outline: none;
  margin-top: 15px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.oder-group .subtn2:hover {
  background: #2e958b;
}
.info-show {
  padding-bottom: 30px;
}
.info-show p {
  font-size: 14px;
  line-height: 50px;
  color: #333;
}
.info-show p i {
  color: #37A89D;
}
.info-show #swiper-container,
.info-show #swiper-container3 {
  margin-top: 20px;
  height: 80px;
  color: #666;
}
.tjcase {
  width: 100%;
  height: 258px;
  background: #fff;
  margin-top: 30px;
  padding: 20px;
}
.tjcase h3 {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.tjcase h3 span {
  font-size: 20px;
  color: #333;
}
.tjcase h3 a {
  font-size: 14px;
  color: #999;
  line-height: 40px;
}
.tjcase h3 a:hover {
  color: #37A89D;
}
.tjcase div {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.tjcase div a {
  display: block;
  width: 222px;
  height: 166px;
  overflow: hidden;
}
.tjcase div a img {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}
.tjcase div a:hover img {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
}
.info-details {
  margin-top: 30px;
}
.info-details .tab-control {
  width: 100%;
  height: 42px;
  text-align: center;
}
.info-details .tabs {
  display: inline-block;
  width: 180px;
  height: 42px;
  border: 1px solid #ddd;
  color: #999;
  line-height: 40px;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
}
.info-details .actives {
  background: #37A89D;
  color: #fff;
  border: 1px solid #37A89D;
}
.info-details .tab-boxs {
  margin-top: 40px;
  height: auto;
  overflow: hidden;
}
.info-details .info-list-con {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.info-details .info-img {
  width: 98px;
}
.info-details .info-msg {
  width: 700px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.info-details .timer {
  font-size: 14px;
  color: #999;
  float: right;
}
.info-details .info-msg h4 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}
.info-details .info-msg h4 a {
  color: #333;
}
.info-details .info-msg h4 a:hover {
  color: #37A89D;
}
.info-details .info-msg p {
  font-size: 14px;
  color: #999;
  line-height: 22px;
}
.info-details .info-msg .p2 {
  display: -webkit-box;
  -webkit-box-orient:  vertical;
  -webkit-line-clamp:  2;
  overflow:  hidden;
}
.page {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 40px;
  text-align: center;
  line-height: 40px;
}
.page a {
  display: inline-block;
  color: #999;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
}
.page .pages {
  width: 100px;
  height: 42px;
  border: 1px solid #999;
  border-radius: 4px;
}
.page .num-page {
  width: 46px;
  height: 42px;
  border: 1px solid #999;
  border-radius: 4px;
}
.page a:hover {
  border: none;
  outline: none;
  background: #37A89D;
  color: #fff;
}
.page .page-active {
  border: none;
  outline: none;
  background: #37A89D;
  color: #fff;
}
.remend {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  padding: 20px;
  margin-top: 20px;
}
.remend .remend-title {
  font-size: 18px;
  color: #333;
  font-weight: normal;
  text-align: center;
}
.remend .remend-title i {
  margin-left: 10px;
  margin-right: 10px;
}
.remend .remend-title span {
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #37A89D;
  vertical-align: middle;
}
.remend .info-views {
  margin-top: 15px;
}
.remend .info-case-show {
  margin-top: 5px;
}
.remend .info-case {
  display: inline-block;
  width: 100%;
  height: auto;
  font-size: 14px;
  color: #999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.remend .info-case:hover {
  color: #37A89D;
}
.remend .msgimg {
  width: 240px;
  height: 154px;
  overflow: hidden;
  margin-top: 10px;
}
.remend .msgimg img {
  width: 100%;
}
.advertising {
  margin-top: 30px;
  margin-bottom: 30px;
}
.news-show {
  width: 900px;
  height: auto;
  overflow: hidden;
}
.calculator {
  width: 100%;
  height: 236px;
  background: url(../img/newsbg1.png) no-repeat center;
  background-size: contain;
  position: relative;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding: 40px 50px 0 42px;
}
.news-form {
  width: 310px;
  height: auto;
  overflow: hidden;
}
.news-form p {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.inputbox {
  display: inline-block;
  width: 152px;
  height: 34px;
  position: relative;
  background: #fff;
}
.inputbox select {
  width: 100%;
  height: 100%;
  border: 1px solid #FF9957;
  outline: none;
  background: none;
  padding-left: 10px;
  color: #333;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
}
.inputbox .xl_icon {
  position: absolute;
  right: 5px;
  top: 6px;
  color: #808080;
  z-index: 1;
}
.unit {
  position: absolute;
  top: 7px;
  right: 5px;
  color: #999;
}
.input {
  width: 100%;
  height: 100%;
  border: 1px solid #FF9957;
  background: #fff;
  outline: none;
  padding-left: 10px;
}
.row-box {
  display: block;
  width: 100%;
  height: 34px;
  line-height: 32px;
  margin-top: 10px;
}
.row-box span {
  font-size: 16px;
  color: #333;
}
.row-box i {
  font-size: 16px;
  color: #FF6D0F;
  margin-right: 5px;
}
.row-box .lx-type {
  font-size: 14px;
  color: #333;
  margin-left: 5px;
  margin-right: 5px;
}
.row-box .phone {
  width: 100%;
  height: 34px;
  border: 1px solid #FF9957;
  background: #fff;
  outline: none;
  padding-left: 10px;
}
.btn-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 396px;
  top: 76px;
}
.quote-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #FF934D;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: none;
  outline: none;
  text-align: center;
  padding: 0 19px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.btn-bg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f77015;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: sf 2s linear infinite;
}
@keyframes sf {
  0% {
    transform: scale(0);
    -ms-transform: scale(0);
    /* IE 9 */
    -webkit-transform: scale(0);
    /* Safari and Chrome */
    opacity: 1;
  }
  100% {
    transform: scale(1);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari and Chrome */
    opacity: 0;
  }
}
.price-show-box {
  width: 300px;
  height: auto;
  overflow: hidden;
}
.price-show-box h3 {
  font-size: 16px;
  color: #333;
  text-align: center;
  font-weight: normal;
  line-height: 40px;
}
.price-show-box h3 span {
  display: inline-block;
  width: 80px;
  font-size: 20px;
  color: #FF934D;
}
.budget-box {
  width: 100%;
  height: 130px;
  border: 1px solid #FF934D;
  background: #fff;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 35px 10px;
  margin-top: 4px;
}
.budget-box p {
  margin-right: 2px;
  margin-left: 2px;
}
.budget-title {
  font-size: 14px;
  color: #333;
}
.price {
  display: inline-block;
  width: 50px;
  font-size: 16px;
  color: #FF934D;
  text-align: center;
}
.news-details {
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;
  padding: 30px;
  margin-top: 20px;
}
.bdsharebuttonbox {
  width: 200px;
  height: 46px;
  position: relative;
  padding: 10px 0;
  float: right;
}
.bdsharebuttonbox span {
  float: left;
  line-height: 28px;
  margin-right: 5px;
}
.news-title {
  font-size: 24px;
  color: #37A89D;
  font-weight: normal;
  text-align: center;
}
.news-con-show {
  width: 812px;
  height: auto;
  overflow: hidden;
  margin: 50px auto 0;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 20px;
}
.post-tags {
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 60px;
}
.post-tags span {
  margin-left: 15px;
  margin-right: 15px;
}
.article {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.article p {
  font-size: 14px;
  line-height: 26px;
  color: #333;
  text-indent: 2em;
  text-align: justify;
}
.article img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.like-show {
  text-align: center;
}
.like {
  display: inline-block;
  margin: 30px auto 0;
  border: 1px solid #ddd;
  border-radius: 21px;
  padding: 0 20px;
  line-height: 42px;
  cursor: pointer;
}
.like img {
  margin-right: 5px;
  display: inline;
  float: left;
  margin-top: 5px;
}
.like .likenum {
  color: #ddd;
}
.source-address {
  text-align: right;
  margin-top: 20px;
  color: #999;
  font-size: 12px;
}
.source-address a {
  color: #999;
}
.news-info-list {
  margin-top: 30px;
  position: relative;
}
.news-info-list a {
  margin-left: 15px;
  font-size: 14px;
  color: #333;
}
.news-info-list a:hover {
  color: #37A89D;
}
.news-info-list span {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}
.news-info-list::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #d2d2d2;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.news-list-show {
  margin-top: 30px;
}
