@import (less, optional) "common.less";


.case-list-ban{
    .w(100%);
    .h-auto;
    img{
        .w(100%);
    }
}
.case-details{
    .w;
    .h-auto;
    .ma;
   
}
.details-title{
    font-weight: normal;
    .fs(14px);
    .lh(60px);
    a{
        .color(#333);
    }
    a:hover{
        .color(#37A89D);
    }
}
.details-show{
    .flex-con1;
}
.details-show-lt{
    .w(900px);
    .h-auto;
    padding: 24px;
    .bg(#fff);
}
.details-show-rt{
    .w(280px);
    .h-auto;
}
.design-infos{
    .w(100%);
    .h(440px);
    .bg(#fff);
    padding: 20px;
}
.infos-top{
    .flex;
    justify-content: flex-start;
    align-items: center;
}
.avatar{
    .display(inline-block);
    .w(100px);
    .h(100px);
    .bor-r(50%);
    .oh;
    .tc;
}
.design-infor{
    .ml(20px);
    .fs(16px);
    .color(#666);
    i{
        .fs(18px);
        .color(#333);
        .lh(30px);
    }
}
.works{
    .mt(20px);
    p{
        .fs(14px);
        .color(#666);
        span{
            .color(#333);
            .fs(16px);
        }
        .lh(26px);
        .mt(10px);
    }
    p:last-of-type{
        .mt(20px);
    }
}
.oder-group{
    .w(100%);
    .h(380px);
    .bg(#fff);
    .mt(20px);
    padding: 20px;
    .tc;
    .ps-r;
    .hot{
        .ps-a;
        left: 0;
        top: 0;
    }
    h3{
        .fs(20px);
        .color(#333);
    }
    .form-rt .input{
        .w(100%);
        .h(36px);
        .border(#ddd);
        .pl(15px);
        .mt(15px);
    }
    .subtn2{
        .w(100%);
        .h(36px);
        .bg(#37A89D);
        .bor-n;
        .mt(15px);
        .tc;
        .color(#fff);
        .fs(16px);
        cursor: pointer;
    }
    .subtn2:hover{
        .bg(#2e958b);
    }
}
.info-show{
    p{
        .fs(14px);
        .lh(50px);
        .color(#333);
        i{
            .color(#37A89D);
        }
    }
    padding-bottom: 30px;
    #swiper-container{
        // .bg(yellowgreen);
        .mt(20px);
        .h(80px);
        .color(#666);
    }
}
.tjcase{
    .w(100%);
    .h(258px);
    .bg(#fff);
    .mt(30px);
    padding: 20px;
    h3{
        .flex-con1;
        // .bg(yellowgreen);
        span{
            .fs(20px);
            .color(#333);
        }
        a{
            .fs(14px);
            .color(#999);
            .lh(40px);
        }
        a:hover{
            .color(#37A89D);
        }
    }
    div{
        .flex-con1; 
        .mt(10px);
        a{
            .display;
            .w(222px);
            .h(166px);
            .oh;
            img{
                .tsion(.5s);
            }
        }
        a:hover{
            img{
                .scale(1.1);
            }
        }
    }
}
